# Capstone Project: Create a Customer Segmentation Report for Arvato Financial Services

In this project, you will analyze demographics data for customers of a mail-order sales company in Germany, comparing it against demographics information for the general population. You'll use unsupervised learning techniques to perform customer segmentation, identifying the parts of the population that best describe the core customer base of the company. Then, you'll apply what you've learned on a third dataset with demographics information for targets of a marketing campaign for the company, and use a model to predict which individuals are most likely to convert into becoming customers for the company. The data that you will use has been provided by our partners at Bertelsmann Arvato Analytics, and represents a real-life data science task.

The versions of those two datasets used in this project will include many more features and has not been pre-cleaned. You are also free to choose whatever approach you'd like to analyzing the data rather than follow pre-determined steps. In your work on this project, make sure that you carefully document your steps and decisions, since your main deliverable for this project will be a blog post reporting your findings.

In [1]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# magic word for producing visualizations in notebook
%matplotlib inline

from googletrans import Translator

# import nltk
# from nltk.corpus import wordnet

import missingno as msno

In [2]:
# pip install googletrans==4.0.0-rc1
# pip install missingno

## Part 0: Get to Know the Data

There are four data files associated with this project:

- `Udacity_AZDIAS_052018.csv`: Demographics data for the general population of Germany; 891 211 persons (rows) x 366 features (columns).
- `Udacity_CUSTOMERS_052018.csv`: Demographics data for customers of a mail-order company; 191 652 persons (rows) x 369 features (columns).
- `Udacity_MAILOUT_052018_TRAIN.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 982 persons (rows) x 367 (columns).
- `Udacity_MAILOUT_052018_TEST.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 833 persons (rows) x 366 (columns).

Each row of the demographics files represents a single person, but also includes information outside of individuals, including information about their household, building, and neighborhood. Use the information from the first two files to figure out how customers ("CUSTOMERS") are similar to or differ from the general population at large ("AZDIAS"), then use your analysis to make predictions on the other two files ("MAILOUT"), predicting which recipients are most likely to become a customer for the mail-order company.

The "CUSTOMERS" file contains three extra columns ('CUSTOMER_GROUP', 'ONLINE_PURCHASE', and 'PRODUCT_GROUP'), which provide broad information about the customers depicted in the file. The original "MAILOUT" file included one additional column, "RESPONSE", which indicated whether or not each recipient became a customer of the company. For the "TRAIN" subset, this column has been retained, but in the "TEST" subset it has been removed; it is against that withheld column that your final predictions will be assessed in the Kaggle competition.

Otherwise, all of the remaining columns are the same between the three data files. For more information about the columns depicted in the files, you can refer to two Excel spreadsheets provided in the workspace. [One of them](./DIAS Information Levels - Attributes 2017.xlsx) is a top-level list of attributes and descriptions, organized by informational category. [The other](./DIAS Attributes - Values 2017.xlsx) is a detailed mapping of data values for each feature in alphabetical order.

In the below cell, we've provided some initial code to load in the first two datasets. Note for all of the `.csv` data files in this project that they're semicolon (`;`) delimited, so an additional argument in the [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) call has been included to read in the data properly. Also, considering the size of the datasets, it may take some time for them to load completely.

You'll notice when the data is loaded in that a warning message will immediately pop up. Before you really start digging into the modeling and analysis, you're going to need to perform some cleaning. Take some time to browse the structure of the data and look over the informational spreadsheets to understand the data values. Make some decisions on which features to keep, which features to drop, and if any revisions need to be made on data formats. It'll be a good idea to create a function with pre-processing steps, since you'll need to clean all of the datasets before you work with them.

### 1. Load and file overview

#### 1-1. azdias

In [3]:
# azdias

azdias = pd.read_csv('../csv/Udacity_AZDIAS_052018.csv', sep=';')
print (azdias.info())
azdias.head()

/var/folders/y5/wyn61d3n7wxdpg5j1f0rpvc80000gn/T/ipykernel_878/2948400271.py:3: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  azdias = pd.read_csv('../csv/Udacity_AZDIAS_052018.csv', sep=';')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891221 entries, 0 to 891220
Columns: 366 entries, LNR to ALTERSKATEGORIE_GROB
dtypes: float64(267), int64(93), object(6)
memory usage: 2.4+ GB
None

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3

#### 1-2. customers

In [4]:
# customers

customers = pd.read_csv('../csv/Udacity_CUSTOMERS_052018.csv', sep=';')
print (customers.info())
customers.head()

/var/folders/y5/wyn61d3n7wxdpg5j1f0rpvc80000gn/T/ipykernel_878/1897593267.py:3: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  customers = pd.read_csv('../csv/Udacity_CUSTOMERS_052018.csv', sep=';')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191652 entries, 0 to 191651
Columns: 369 entries, LNR to ALTERSKATEGORIE_GROB
dtypes: float64(267), int64(94), object(8)
memory usage: 539.5+ MB
None

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,PRODUCT_GROUP,CUSTOMER_GROUP,ONLINE_PURCHASE,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,9626,2,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,2.0,6.0,9.0,7.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
1,9628,-1,9.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,9.0,NaN,3,FOOD,SINGLE_BUYER,0,1,4
2,143872,-1,1.0,6.0,NaN,NaN,NaN,NaN,0.0,1.0,...,11.0,6.0,9.0,2.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
3,143873,1,1.0,8.0,NaN,NaN,NaN,NaN,8.0,0.0,...,2.0,NaN,9.0,7.0,1,COSMETIC,MULTI_BUYER,0,1,4
4,143874,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,7.0,...,4.0,2.0,9.0,3.0,1,FOOD,MULTI_BUYER,0,1,3

#### 1-3. attributes_xlsx

In [5]:
# attributes_xlsx

attributes_xlsx = pd.read_excel('DIAS Attributes - Values 2017.xlsx', header=1)

# 1st column has no info
attributes_xlsx = attributes_xlsx.iloc[:, 1:]

# only 1st lines of information have values 
attributes_xlsx[['Attribute', 'Description']] = attributes_xlsx[
    ['Attribute', 'Description']].fillna(method = 'ffill')

print (attributes_xlsx.info())
attributes_xlsx.head(8)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2258 entries, 0 to 2257
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Attribute    2258 non-null   object
 1   Description  2258 non-null   object
 2   Value        2258 non-null   object
 3   Meaning      2247 non-null   object
dtypes: object(4)
memory usage: 70.7+ KB
None

,Attribute,Description,Value,Meaning
0,AGER_TYP,best-ager typology,-1,unknown
1,AGER_TYP,best-ager typology,0,no classification possible
2,AGER_TYP,best-ager typology,1,passive elderly
3,AGER_TYP,best-ager typology,2,cultural elderly
4,AGER_TYP,best-ager typology,3,experience-driven elderly
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
6,ALTERSKATEGORIE_GROB,age classification through prename analysis,1,< 30 years
7,ALTERSKATEGORIE_GROB,age classification through prename analysis,2,30 - 45 years

In [6]:
# attributes_xlsx

#### 1-4. information_xlsx

In [7]:
# information_xlsx

information_xlsx = pd.read_excel('DIAS Information Levels - Attributes 2017.xlsx', header=1)

# 1st column has no info
information_xlsx = information_xlsx.iloc[:, 1:]

# only 1st lines of information have values
information_xlsx['Information level'] = information_xlsx['Information level'].fillna(method = 'ffill')

print (information_xlsx.info())
information_xlsx.head(8)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 313 entries, 0 to 312
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Information level  312 non-null    object
 1   Attribute          313 non-null    object
 2   Description        313 non-null    object
 3   Additional notes   20 non-null     object
dtypes: object(4)
memory usage: 9.9+ KB
None

,Information level,Attribute,Description,Additional notes
0,NaN,AGER_TYP,best-ager typology,in cooperation with Kantar TNS; the informatio...
1,Person,ALTERSKATEGORIE_GROB,age through prename analysis,modelled on millions of first name-age-referen...
2,Person,ANREDE_KZ,gender,NaN
3,Person,CJT_GESAMTTYP,Customer-Journey-Typology relating to the pref...,"relating to the preferred information, marketi..."
4,Person,FINANZ_MINIMALIST,financial typology: low financial interest,Gfk-Typology based on a representative househo...
5,Person,FINANZ_SPARER,financial typology: money saver,NaN
6,Person,FINANZ_VORSORGER,financial typology: be prepared,NaN
7,Person,FINANZ_ANLEGER,financial typology: investor,NaN

In [8]:
# information_xlsx

### 2. File detail

#### 2-1. azdias: columns

In [9]:
# values of columns of azdias
col_val_azdias = pd.DataFrame(azdias.columns, columns=['Attribute'])
print (col_val_azdias.shape)
# col_val_azdias.head() # not to run

(366, 1)

In [10]:
# unique values of attributes_xlsx which is to explain column values of azdias
uniq_val_attributes = attributes_xlsx[['Attribute', 'Description']].drop_duplicates()
print (uniq_val_attributes.shape)
# uniq_val_attributes.head() # not to run

(351, 2)

In [11]:
# add description to columns of azdias
col_val_azdias_desc = pd.merge(col_val_azdias, uniq_val_attributes, how = 'left')

# drop duplicated 2 lines
col_val_azdias_desc.drop_duplicates(subset = ['Attribute'], inplace = True)

print (col_val_azdias_desc.shape)
print (col_val_azdias_desc.Description.isna().sum()) # NaN cells in Description

(366, 2)
94

In [12]:
'''
For values of Attribute without Description, I added a colum of
translation (ger_to_eng) using code below.
However as it takes somewhat long time,
I saved the dataframe processed as col_val_azdias_desc.xlsx.
'''
# # For values of Attribute without Description, add colum of translation (ger_to_eng)
# def ger_to_eng (ger_text):
#     '''
#     function to translate German text
#     '''    
#     translator = Translator(service_urls=['translate.google.com'])    
#     try:
#         translation = translator.translate(ger_text, src='de', dest='en')
#         return translation.text        
#     except:
#         return np.nan

# col_val_azdias_desc['ger_to_eng'] = np.where(
#     col_val_azdias_desc.Description.isnull(),
#     col_val_azdias_desc.Attribute.str.replace('_', ' ').apply(ger_to_eng),
#     np.nan)

# col_val_azdias_desc.head()

col_val_azdias_desc = pd.read_excel('col_val_azdias_desc.xlsx')
col_val_azdias_desc.head()

     Attribute                    Description  ger_to_eng
0          LNR                            NaN         LNR
1     AGER_TYP             best-ager typology         NaN
2   AKT_DAT_KL                            NaN  Act Dat KL
3     ALTER_HH  main age within the household         NaN
4  ALTER_KIND1                            NaN  Old child1

In [14]:
col_val_azdias_desc = pd.read_excel('col_val_azdias_desc.xlsx')

In [15]:
# understand column contents of azdias # not to run

pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)
col_val_azdias_desc

,Unnamed: 0,Attribute,Description,ger_to_eng
0,0,LNR,NaN,LNR
1,1,AGER_TYP,best-ager typology,NaN
2,2,AKT_DAT_KL,NaN,Act Dat KL
3,3,ALTER_HH,main age within the household,NaN
4,4,ALTER_KIND1,NaN,Old child1
5,5,ALTER_KIND2,NaN,Old child2
6,6,ALTER_KIND3,NaN,Old child3
7,7,ALTER_KIND4,NaN,Old child4
8,8,ALTERSKATEGORIE_FEIN,NaN,Age category fine
9,9,ANZ_HAUSHALTE_AKTIV,number of households in the building,NaN
10,10,ANZ_HH_TITEL,number of academic title holder in building,NaN
11,11,ANZ_KINDER,NaN,Anz children
12,12,ANZ_PERSONEN,number of adult persons in the household,NaN
13,13,ANZ_STATISTISCHE_HAUSHALTE,NaN,Anz statistical households
14,14,ANZ_TITEL,number of professional title holder in household,NaN
15,15,ARBEIT,NaN,WORK
16,16,BALLRAUM,distance to next urban centre,NaN
17,17,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,NaN
18,18,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,NaN
19,19,CAMEO_INTL_2015,NaN,Cameo Intl 2015
20,20,CJT_GESAMTTYP,customer journey typology,NaN
21,21,CJT_KATALOGNUTZER,NaN,CJT catalog user
22,22,CJT_TYP_1,NaN,CJT Type 1
23,23,CJT_TYP_2,NaN,CJT type 2
24,24,CJT_TYP_3,NaN,CJT type 3
25,25,CJT_TYP_4,NaN,CJT type 4
26,26,CJT_TYP_5,NaN,CJT type 5
27,27,CJT_TYP_6,NaN,CJT type 6
28,28,D19_BANKEN_ANZ_12,transaction activity BANKS in the last 12 months,NaN
29,29,D19_BANKEN_ANZ_24,transaction activity BANKS in the last 24 months,NaN
30,30,D19_BANKEN_DATUM,actuality of the last transaction for the segment banks TOTAL,NaN
31,31,D19_BANKEN_DIREKT,NaN,D19 banks directly
32,32,D19_BANKEN_GROSS,NaN,D19 banks tall
33,33,D19_BANKEN_LOKAL,NaN,D19 banks locally
34,34,D19_BANKEN_OFFLINE_DATUM,actuality of the last transaction for the segment banks OFFLINE,NaN
35,35,D19_BANKEN_ONLINE_DATUM,actuality of the last transaction for the segment banks ONLINE,NaN
36,36,D19_BANKEN_ONLINE_QUOTE_12,amount of online transactions within all transactions in the segment bank,NaN
37,37,D19_BANKEN_REST,NaN,D19 banks rest
38,38,D19_BEKLEIDUNG_GEH,NaN,D19 Clothing
39,39,D19_BEKLEIDUNG_REST,NaN,D19 clothing rest
40,40,D19_BILDUNG,NaN,D19 education
41,41,D19_BIO_OEKO,NaN,D19 Bio Oeko
42,42,D19_BUCH_CD,NaN,D19 Book CD
43,43,D19_DIGIT_SERV,NaN,D19 Digit Serv
44,44,D19_DROGERIEARTIKEL,NaN,D19 drugstore articles
45,45,D19_ENERGIE,NaN,D19 Energy
46,46,D19_FREIZEIT,NaN,D19 leisure
47,47,D19_GARTEN,NaN,D19 garden
48,48,D19_GESAMT_ANZ_12,transaction activity TOTAL POOL in the last 12 months,NaN
49,49,D19_GESAMT_ANZ_24,transaction activity TOTAL POOL in the last 24 months,NaN
50,50,D19_GESAMT_DATUM,actuality of the last transaction with the complete file TOTAL,NaN
51,51,D19_GESAMT_OFFLINE_DATUM,actuality of the last transaction with the complete file OFFLINE,NaN
52,52,D19_GESAMT_ONLINE_DATUM,actuality of the last transaction with the complete file ONLINE,NaN
53,53,D19_GESAMT_ONLINE_QUOTE_12,amount of online transactions within all transactions in the complete file,NaN
54,54,D19_HANDWERK,NaN,D19 craft
55,55,D19_HAUS_DEKO,NaN,D19 house decoration
56,56,D19_KINDERARTIKEL,NaN,D19 children's articles
57,57,D19_KONSUMTYP,consumption type,NaN
58,58,D19_KONSUMTYP_MAX,NaN,D19 Consuming type Max
59,59,D19_KOSMETIK,NaN,D19 cosmetics
60,60,D19_LEBENSMITTEL,NaN,D19 Food
61,61,D19_LETZTER_KAUF_BRANCHE,NaN,D19 Last purchase industry
62,62,D19_LOTTO,NaN,D19 Lotto
63,63,D19_NAHRUNGSERGAENZUNG,NaN,D19 nutritional
64,64,D19_RATGEBER,NaN,D19 guide
65,65,D19_REISEN,NaN,D19 travel
66,66,D19_SAMMELARTIKEL,NaN,D19 collective items
67,67,D19_SCHUHE,NaN,D19 shoes
68,68,D19_SONSTIGE,NaN,D19 others
69,69,D19_SOZIALES,NaN,D19 social issues
70,70,D19_TECHNIK,NaN,D19 technology
71,71,D19_TELKO_ANZ_12,transaction activity TELCO in the last 12 months,NaN
72,72,D19_TELKO_ANZ_24,transaction activity TELCO in the last 24 months,NaN
73,73,D19_TELKO_DATUM,actuality of the last transaction for the segment telecommunication TOTAL,NaN
74,74,D19_TELKO_MOBILE,NaN,D19 Telko Mobile
75,75,D19_TELKO_OFFLINE_DATUM,actuality of the last transaction for the segment telecommunication OFFLINE,NaN
76,76,D19_TELKO_ONLINE_DATUM,actuality of the last transaction for the segment telecommunication ONLINE,NaN
77,77,D19_TELKO_ONLINE_QUOTE_12,NaN,D19 Telko Online Quote 12
78,78,D19_TELKO_REST,NaN,D19 Telko Rest
79,79,D19_TIERARTIKEL,NaN,D19 animal items
80,80,D19_VERSAND_ANZ_12,transaction activity MAIL-ORDER in the last 12 months,NaN
81,81,D19_VERSAND_ANZ_24,transaction activity MAIL-ORDER in the last 24 months,NaN
82,82,D19_VERSAND_DATUM,actuality of the last transaction for the segment mail-order TOTAL,NaN
83,83,D19_VERSAND_OFFLINE_DATUM,actuality of the last transaction for the segment mail-order OFFLINE,NaN
84,84,D19_VERSAND_ONLINE_DATUM,actuality of the last transaction for the segment mail-order ONLINE,NaN
85,85,D19_VERSAND_ONLINE_QUOTE_12,amount of online transactions within all transactions in the segment mail-order,NaN
86,86,D19_VERSAND_REST,NaN,D19 Shipping rest
87,87,D19_VERSI_ANZ_12,transaction activity INSURANCE in the last 12 months,NaN
88,88,D19_VERSI_ANZ_24,transaction activity INSURANCE in the last 24 months,NaN
89,89,D19_VERSI_DATUM,NaN,D19 versi date
90,90,D19_VERSI_OFFLINE_DATUM,NaN,D19 versi offline date
91,91,D19_VERSI_ONLINE_DATUM,NaN,D19 versi online date
92,92,D19_VERSI_ONLINE_QUOTE_12,NaN,D19 versi online quote 12
93,93,D19_VERSICHERUNGEN,NaN,D19 Insurance
94,94,D19_VOLLSORTIMENT,NaN,D19 full range
95,95,D19_WEIN_FEINKOST,NaN,D19 wine delicatessen
96,96,DSL_FLAG,NaN,DSL flag
97,97,EINGEFUEGT_AM,NaN,Finded on
98,98,EINGEZOGENAM_HH_JAHR,NaN,Intended HH year
99,99,EWDICHTE,density of inhabitants per square kilometer,NaN
100,100,EXTSEL992,NaN,Extsel992
101,101,FINANZ_ANLEGER,financial typology: investor,NaN
102,102,FINANZ_HAUSBAUER,financial typology: main focus is the own house,NaN
103,103,FINANZ_MINIMALIST,financial typology: low financial interest,NaN
104,104,FINANZ_SPARER,financial typology: money saver,NaN
105,105,FINANZ_UNAUFFAELLIGER,financial typology: unremarkable,NaN
106,106,FINANZ_VORSORGER,financial typology: be prepared,NaN
107,107,FINANZTYP,best descirbing financial type for the person,NaN
108,108,FIRMENDICHTE,NaN,Company density
109,109,GEBAEUDETYP,type of building (residential or commercial),NaN
110,110,GEBAEUDETYP_RASTER,industrial areas,NaN
111,111,GEBURTSJAHR,year of birth,NaN
112,112,GEMEINDETYP,NaN,Parish type
113,113,GFK_URLAUBERTYP,vacation habits,NaN
114,114,GREEN_AVANTGARDE,Green avantgarde,NaN
115,116,HEALTH_TYP,health typology,NaN
116,117,HH_DELTA_FLAG,NaN,HH Delta Flag
117,118,HH_EINKOMMEN_SCORE,estimated household net income,NaN
118,119,INNENSTADT,distance to the city centre,NaN
119,120,KBA05_ALTER1,share of car owners less than 31 years old,NaN
120,121,KBA05_ALTER2,share of car owners inbetween 31 and 45 years of age,NaN
121,122,KBA05_ALTER3,share of car owners inbetween 45 and 60 years of age,NaN
122,123,KBA05_ALTER4,share of cars owners elder than 61 years,NaN
123,124,KBA05_ANHANG,share of trailers in the microcell,NaN
124,125,KBA05_ANTG1,number of 1-2 family houses in the cell,NaN
125,126,KBA05_ANTG2,number of 3-5 family houses in the cell,NaN
126,127,KBA05_ANTG3,number of 6-10 family houses in the cell,NaN
127,128,KBA05_ANTG4,number of >10 family houses in the cell,NaN
128,129,KBA05_AUTOQUOT,share of cars per household,NaN
129,130,KBA05_BAUMAX,most common building-type within the cell,NaN
130,131,KBA05_CCM1,share of cars with less than 1399ccm,NaN
131,132,KBA05_CCM2,share of cars with 1400ccm to 1799 ccm,NaN
132,133,KBA05_CCM3,share of cars with 1800ccm to 2499 ccm,NaN
133,134,KBA05_CCM4,share of cars with more than 2499ccm,NaN
134,135,KBA05_DIESEL,share of cars with Diesel-engine in the microcell,NaN
135,136,KBA05_FRAU,share of female car owners,NaN
136,137,KBA05_GBZ,number of buildings in the microcell,NaN
137,138,KBA05_HERST1,"share of top German manufacturer (Mercedes, BMW)",NaN
138,139,KBA05_HERST2,share of Volkswagen-Cars (including Audi),NaN
139,140,KBA05_HERST3,share of Ford/Opel,NaN
140,141,KBA05_HERST4,"share of European manufacturer (e.g. Fiat, Peugeot, Rover,...)",NaN
141,142,KBA05_HERST5,"share of asian manufacturer (e.g. Toyota, Kia,...)",NaN
142,143,KBA05_HERSTTEMP,development of the most common car manufacturers in the neighbourhood,NaN
143,144,KBA05_KRSAQUOT,share of cars per household (reffered to county average),NaN
144,145,KBA05_KRSHERST1,share of Mercedes/BMW (reffered to the county average),NaN
145,146,KBA05_KRSHERST2,share of Volkswagen (reffered to the county average),NaN
146,147,KBA05_KRSHERST3,share of Ford/Opel (reffered to the county average),NaN
147,148,KBA05_KRSKLEIN,share of small cars (referred to the county average),NaN
148,149,KBA05_KRSOBER,share of upper class cars (referred to the county average),NaN
149,150,KBA05_KRSVAN,share of vans (referred to the county average),NaN
150,151,KBA05_KRSZUL,share of newbuilt cars (referred to the county average),NaN
151,152,KBA05_KW1,share of cars with less than 59 KW engine power,NaN
152,153,KBA05_KW2,share of cars with an engine power between 60 and 119 KW,NaN
153,154,KBA05_KW3,share of cars with an engine power of more than 119 KW,NaN
154,155,KBA05_MAXAH,most common age of car owners in the microcell,NaN
155,156,KBA05_MAXBJ,most common age of the cars in the microcell,NaN
156,157,KBA05_MAXHERST,most common car manufacturer in the microcell,NaN
157,158,KBA05_MAXSEG,most common car segment in the microcell,NaN
158,159,KBA05_MAXVORB,most common preowner structure in the microcell,NaN
159,160,KBA05_MOD1,share of upper class cars (in an AZ specific definition),NaN
160,161,KBA05_MOD2,share of middle class cars (in an AZ specific definition),NaN
161,162,KBA05_MOD3,share of Golf-class cars (in an AZ specific definition),NaN
162,163,KBA05_MOD4,share of small cars (in an AZ specific definition),NaN
163,164,KBA05_MOD8,share of vans (in an AZ specific definition),NaN
164,165,KBA05_MODTEMP,development of the most common car segment in the neighbourhood,NaN
165,166,KBA05_MOTOR,most common engine size in the microcell,NaN
166,167,KBA05_MOTRAD,share of motorcycles per household,NaN
167,168,KBA05_SEG1,share of very small cars (Ford Ka etc.) in the microcell,NaN
168,169,KBA05_SEG10,"share of more specific cars (Vans, convertables, all-terrains, MUVs etc.)",NaN
169,170,KBA05_SEG2,"share of small and very small cars (Ford Fiesta, Ford Ka etc.) in the microcell",NaN
170,171,KBA05_SEG3,share of lowe midclass cars (Ford Focus etc.) in the microcell,NaN
171,172,KBA05_SEG4,share of middle class cars (Ford Mondeo etc.) in the microcell,NaN
172,173,KBA05_SEG5,"share of upper middle class cars and upper class cars (BMW5er, BMW7er etc.)",NaN
173,174,KBA05_SEG6,share of upper class cars (BMW 7er etc.) in the microcell,NaN
174,175,KBA05_SEG7,share of all-terrain vehicles and MUVs in the microcell,NaN
175,176,KBA05_SEG8,share of roadster and convertables in the microcell,NaN
176,177,KBA05_SEG9,share of vans in the microcell,NaN
177,178,KBA05_VORB0,share of cars with no preowner,NaN
178,179,KBA05_VORB1,share of cars with one or two preowner,NaN
179,180,KBA05_VORB2,share of cars with more than two preowner,NaN
180,181,KBA05_ZUL1,share of cars built before 1994,NaN
181,182,KBA05_ZUL2,share of cars built between 1994 and 2000,NaN
182,183,KBA05_ZUL3,share of cars built between 2001 and 2002,NaN
183,184,KBA05_ZUL4,share of cars built from 2003 on,NaN
184,185,KBA13_ALTERHALTER_30,share of car owners below 31 within the PLZ8,NaN
185,186,KBA13_ALTERHALTER_45,share of car owners between 31 and 45 within the PLZ8,NaN
186,187,KBA13_ALTERHALTER_60,share of car owners between 46 and 60 within the PLZ8,NaN
187,188,KBA13_ALTERHALTER_61,share of car owners elder than 61 within the PLZ8,NaN
188,189,KBA13_ANTG1,NaN,KBA13 ANTG1
189,190,KBA13_ANTG2,NaN,KBA13 Ang2
190,191,KBA13_ANTG3,NaN,KBA13 ANTG3
191,192,KBA13_ANTG4,NaN,KBA13 ANTG4
192,193,KBA13_ANZAHL_PKW,number of cars in the PLZ8,NaN
193,194,KBA13_AUDI,share of AUDI within the PLZ8,NaN
194,195,KBA13_AUTOQUOTE,share of cars per household within the PLZ8,NaN
195,196,KBA13_BAUMAX,NaN,KBA13 Baumax
196,197,KBA13_BJ_1999,share of cars built between 1995 and 1999 within the PLZ8,NaN
197,198,KBA13_BJ_2000,share of cars built between 2000 and 2003 within the PLZ8,NaN
198,199,KBA13_BJ_2004,share of cars built before 2004 within the PLZ8,NaN
199,200,KBA13_BJ_2006,share of cars built between 2005 and 2006 within the PLZ8,NaN
200,201,KBA13_BJ_2008,share of cars built in 2008 within the PLZ8,NaN
201,202,KBA13_BJ_2009,share of cars built in 2009 within the PLZ8,NaN
202,203,KBA13_BMW,share of BMW within the PLZ8,NaN
203,204,KBA13_CCM_0_1400,share of cars with less than 1400ccm within the PLZ8,NaN
204,205,KBA13_CCM_1000,share of cars with less than 1000ccm within the PLZ8,NaN
205,206,KBA13_CCM_1200,share of cars with 1000ccm to 1199ccm within the PLZ8,NaN
206,207,KBA13_CCM_1400,share of cars with 1200ccm to 1399ccm within the PLZ8,NaN
207,208,KBA13_CCM_1401_2500,NaN,KBA13 CCM 1401 2500
208,209,KBA13_CCM_1500,share of cars with 1400ccm to 1499ccm within the PLZ8,NaN
209,210,KBA13_CCM_1600,share of cars with 1500ccm to 1599ccm within the PLZ8,NaN
210,211,KBA13_CCM_1800,share of cars with 1600ccm to 1799ccm within the PLZ8,NaN
211,212,KBA13_CCM_2000,share of cars with 1800ccm to 1999ccm within the PLZ8,NaN
212,213,KBA13_CCM_2500,share of cars with 2000ccm to 2499ccm within the PLZ8,NaN
213,214,KBA13_CCM_2501,share of cars with more than 2500ccm within the PLZ8,NaN
214,215,KBA13_CCM_3000,share of cars with 2500ccm to 2999ccm within the PLZ8,NaN
215,216,KBA13_CCM_3001,share of cars with more than 3000ccm within the PLZ8,NaN
216,217,KBA13_FAB_ASIEN,share of other Asian Manufacturers within the PLZ8,NaN
217,218,KBA13_FAB_SONSTIGE,share of other Manufacturers within the PLZ8,NaN
218,219,KBA13_FIAT,share of FIAT within the PLZ8,NaN
219,220,KBA13_FORD,share of FORD within the PLZ8,NaN
220,221,KBA13_GBZ,NaN,KBA13 GBZ
221,222,KBA13_HALTER_20,share of car owners below 21 within the PLZ8,NaN
222,223,KBA13_HALTER_25,share of car owners between 21 and 25 within the PLZ8,NaN
223,224,KBA13_HALTER_30,share of car owners between 26 and 30 within the PLZ8,NaN
224,225,KBA13_HALTER_35,share of car owners between 31 and 35 within the PLZ8,NaN
225,226,KBA13_HALTER_40,share of car owners between 36 and 40 within the PLZ8,NaN
226,227,KBA13_HALTER_45,share of car owners between 41 and 45 within the PLZ8,NaN
227,228,KBA13_HALTER_50,share of car owners between 46 and 50 within the PLZ8,NaN
228,229,KBA13_HALTER_55,share of car owners between 51 and 55 within the PLZ8,NaN
229,230,KBA13_HALTER_60,share of car owners between 56 and 60 within the PLZ8,NaN
230,231,KBA13_HALTER_65,share of car owners between 61 and 65 within the PLZ8,NaN
231,232,KBA13_HALTER_66,share of car owners over 66 within the PLZ8,NaN
232,233,KBA13_HERST_ASIEN,share of Asian Manufacturers within the PLZ8,NaN
233,234,KBA13_HERST_AUDI_VW,share of Volkswagen & Audi within the PLZ8,NaN
234,235,KBA13_HERST_BMW_BENZ,share of BMW & Mercedes Benz within the PLZ8,NaN
235,236,KBA13_HERST_EUROPA,share of European cars within the PLZ8,NaN
236,237,KBA13_HERST_FORD_OPEL,share of Ford & Opel/Vauxhall within the PLZ8,NaN
237,238,KBA13_HERST_SONST,share of other cars within the PLZ8,NaN
238,239,KBA13_HHZ,NaN,KBA13 HHz
239,240,KBA13_KMH_0_140,share of cars with max speed 140 km/h within the PLZ8,NaN
240,241,KBA13_KMH_110,share of cars with max speed 110 km/h within the PLZ8,NaN
241,242,KBA13_KMH_140,share of cars with max speed between 110 km/h and 140km/h within the PLZ8,NaN
242,243,KBA13_KMH_140_210,share of cars with max speed between 140 and 210 km/h within the PLZ8,NaN
243,244,KBA13_KMH_180,share of cars with max speed between 110 km/h and 180km/h within the PLZ8,NaN
244,245,KBA13_KMH_210,NaN,KBA13 kmh 210
245,246,KBA13_KMH_211,share of cars with a greater max speed than 210 km/h within the PLZ8,NaN
246,247,KBA13_KMH_250,share of cars with max speed between 210 and 250 km/h within the PLZ8,NaN
247,248,KBA13_KMH_251,share of cars with a greater max speed than 250 km/h within the PLZ8,NaN
248,249,KBA13_KRSAQUOT,share of cars per household (referred to the county average) - PLZ8,NaN
249,250,KBA13_KRSHERST_AUDI_VW,share of Volkswagen (referred to the county average) - PLZ8,NaN
250,251,KBA13_KRSHERST_BMW_BENZ,share of BMW/Mercedes Benz (referred to the county average) - PLZ8,NaN
251,252,KBA13_KRSHERST_FORD_OPEL,share of FORD/Opel (referred to the county average) - PLZ8,NaN
252,253,KBA13_KRSSEG_KLEIN,share of small cars (referred to the county average) - PLZ8,NaN
253,254,KBA13_KRSSEG_OBER,share of upper class cars (referred to the county average) - PLZ8,NaN
254,255,KBA13_KRSSEG_VAN,share of vans (referred to the county average) - PLZ8,NaN
255,256,KBA13_KRSZUL_NEU,share of newbuilt cars (referred to the county average) - PLZ8,NaN
256,257,KBA13_KW_0_60,share of cars up to 60 KW engine power - PLZ8,NaN
257,258,KBA13_KW_110,share of cars with an engine power between 91 and 110 KW - PLZ8,NaN
258,259,KBA13_KW_120,share of cars with an engine power between 111 and 120 KW - PLZ8,NaN
259,260,KBA13_KW_121,share of cars with an engine power more than 120 KW - PLZ8,NaN
260,261,KBA13_KW_30,share of cars up to 30 KW engine power - PLZ8,NaN
261,262,KBA13_KW_40,share of cars with an engine power between 31 and 40 KW - PLZ8,NaN
262,263,KBA13_KW_50,share of cars with an engine power between 41 and 50 KW - PLZ8,NaN
263,264,KBA13_KW_60,share of cars with an engine power between 51 and 60 KW - PLZ8,NaN
264,265,KBA13_KW_61_120,share of cars with an engine power between 61 and 120 KW - PLZ8,NaN
265,266,KBA13_KW_70,share of cars with an engine power between 61 and 70 KW - PLZ8,NaN
266,267,KBA13_KW_80,share of cars with an engine power between 71 and 80 KW - PLZ8,NaN
267,268,KBA13_KW_90,share of cars with an engine power between 81 and 90 KW - PLZ8,NaN
268,269,KBA13_MAZDA,share of MAZDA within the PLZ8,NaN
269,270,KBA13_MERCEDES,share of MERCEDES within the PLZ8,NaN
270,271,KBA13_MOTOR,most common motor size within the PLZ8,NaN
271,272,KBA13_NISSAN,share of NISSAN within the PLZ8,NaN
272,273,KBA13_OPEL,share of OPEL within the PLZ8,NaN
273,274,KBA13_PEUGEOT,share of PEUGEOT within the PLZ8,NaN
274,275,KBA13_RENAULT,share of RENAULT within the PLZ8,NaN
275,276,KBA13_SEG_GELAENDEWAGEN,share of allterrain within the PLZ8,NaN
276,277,KBA13_SEG_GROSSRAUMVANS,share of big sized vans within the PLZ8,NaN
277,278,KBA13_SEG_KLEINST,share of very small cars (Ford Ka etc.) in the PLZ8,NaN
278,279,KBA13_SEG_KLEINWAGEN,"share of small and very small cars (Ford Fiesta, Ford Ka etc.) in the PLZ8",NaN
279,280,KBA13_SEG_KOMPAKTKLASSE,share of lowe midclass cars (Ford Focus etc.) in the PLZ8,NaN
280,281,KBA13_SEG_MINIVANS,share of minivans within the PLZ8,NaN
281,282,KBA13_SEG_MINIWAGEN,share of minicars within the PLZ8,NaN
282,283,KBA13_SEG_MITTELKLASSE,share of middle class cars (Ford Mondeo etc.) in the PLZ8,NaN
283,284,KBA13_SEG_OBEREMITTELKLASSE,"share of upper middle class cars and upper class cars (BMW5er, BMW7er etc.)",NaN
284,285,KBA13_SEG_OBERKLASSE,share of upper class cars (BMW 7er etc.) in the PLZ8,NaN
285,286,KBA13_SEG_SONSTIGE,share of other cars within the PLZ8,NaN
286,287,KBA13_SEG_SPORTWAGEN,share of sportscars within the PLZ8,NaN
287,288,KBA13_SEG_UTILITIES,share of MUVs/SUVs within the PLZ8,NaN
288,289,KBA13_SEG_VAN,share of vans within the PLZ8,NaN
289,290,KBA13_SEG_WOHNMOBILE,share of roadmobiles within the PLZ8,NaN
290,291,KBA13_SITZE_4,number of cars with less than 5 seats in the PLZ8,NaN
291,292,KBA13_SITZE_5,number of cars with 5 seats in the PLZ8,NaN
292,293,KBA13_SITZE_6,number of cars with more than 5 seats in the PLZ8,NaN
293,294,KBA13_TOYOTA,share of TOYOTA within the PLZ8,NaN
294,295,KBA13_VORB_0,share of cars with no preowner - PLZ8,NaN
295,296,KBA13_VORB_1,share of cars with 1 preowner - PLZ8,NaN
296,297,KBA13_VORB_1_2,share of cars with 1 or 2 preowner - PLZ8,NaN
297,298,KBA13_VORB_2,share of cars with 2 preowner - PLZ8,NaN
298,299,KBA13_VORB_3,share of cars with 3 or more preowner - PLZ8,NaN

> 살펴 봤음. 정보행 숫자가 약간 부족하나 큰 문제 안됨   
> 공선성 해소, 차원 축소가 필요함

#### 2-2. azdias: missing values

In [ ]:
# quick look on missing values
msno.matrix(azdias, fontsize = 9, labels = False, sparkline = False);

#### 2-1. attributes_xlsx

In [ ]:
col_val(attributes_xlsx)

In [ ]:
w_list = list(attributes_xlsx.Meaning.unique())

In [ ]:
nltk.download('wordnet')

In [ ]:
ambiguous_words = []

for synset in w_list:
    if len(synset.lemmas()) > 1:
        ambiguous_words.append(synset.name().split('.')[0])

In [ ]:
list(wordnet.all_synsets())

In [ ]:
synsets = wordnet.synsets('unknown')
synsets

In [ ]:
synonyms = []

for synset in synsets:
    for lemma in synset.lemmas():
        synonyms.append(lemma.name())
synonyms

In [ ]:
import nltk
from nltk.corpus import wordnet

nltk.download('wordnet')

# Define the target word
target_word = 'unidentified'

# Retrieve synsets for the target word
synsets = wordnet.synsets(target_word)

# # Retrieve synonyms for each synset and filter out synonyms containing the target word
# filtered_synonyms = []

# for synset in synsets:
#     synonyms = synset.lemmas()
#     filtered_synonyms.extend([synonym.name() for synonym in synonyms if target_word not in synonym.name()])

# # Remove duplicate synonyms and sort the list
# filtered_synonyms = sorted(set(filtered_synonyms))

# print(filtered_synonyms)

In [ ]:
filtered_synonyms = []

for synset in synsets:
    synonyms = synset.lemmas()
    filtered_synonyms.extend([synonym.name() for synonym in synonyms if target_word not in synonym.name()])

# Remove duplicate synonyms and sort the list
filtered_synonyms = sorted(set(filtered_synonyms))

print(filtered_synonyms)

In [ ]:
for target_word in filtered_synonyms:
    # # Define the target word
    # target_word = 'unidentified'

    # Retrieve synsets for the target word
    synsets = wordnet.synsets(target_word)

    for synset in synsets:
        synonyms = synset.lemmas()
        filtered_synonyms.extend([synonym.name() for synonym in synonyms if target_word not in synonym.name()])

    # Remove duplicate synonyms and sort the list
    filtered_synonyms = sorted(set(filtered_synonyms))

print(filtered_synonyms)

In [ ]:
# customers

print (customers.info())
customers.head()

In [ ]:
# attributes_xlsx

print (attributes_xlsx.info())
attributes_xlsx.head(10)

In [ ]:
# modify attributes_xlsx

attributes_xlsx = attributes_xlsx.iloc[:, 1:] # 1st column has no info
attributes_xlsx[['Attribute', 'Description']] = attributes_xlsx[
    ['Attribute', 'Description']].fillna(method = 'ffill')
print (attributes_xlsx.info())
attributes_xlsx.head(10)

In [ ]:
# information_xlsx

print (information_xlsx.info())
information_xlsx.head()

## Part 1: Customer Segmentation Report

The main bulk of your analysis will come in this part of the project. Here, you should use unsupervised learning techniques to describe the relationship between the demographics of the company's existing customers and the general population of Germany. By the end of this part, you should be able to describe parts of the general population that are more likely to be part of the mail-order company's main customer base, and which parts of the general population are less so.

## Part 2: Supervised Learning Model

Now that you've found which parts of the population are more likely to be customers of the mail-order company, it's time to build a prediction model. Each of the rows in the "MAILOUT" data files represents an individual that was targeted for a mailout campaign. Ideally, we should be able to use the demographic information from each individual to decide whether or not it will be worth it to include that person in the campaign.

The "MAILOUT" data has been split into two approximately equal parts, each with almost 43 000 data rows. In this part, you can verify your model with the "TRAIN" partition, which includes a column, "RESPONSE", that states whether or not a person became a customer of the company following the campaign. In the next part, you'll need to create predictions on the "TEST" partition, where the "RESPONSE" column has been withheld.

In [ ]:
mailout_train = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TRAIN.csv', sep=';')

In [ ]:
def col_val (df):
    '''
    function to check values of dataframe columns
    df : dataframe
    '''
    # for i in df.columns:
    #     print (i, '-', df[i].nunique(), 'values', '\n',
    #         df[i].value_counts(), '\n', '*     *     *')
    for i in df.columns:
        print (i, '-', df[i].nunique(), 'values', '\n',
        list(df[i].unique()), '\n', '*     *     *')

In [ ]:
# from googletrans import Translator

# Create an instance of the Translator
translator = Translator(service_urls=['translate.google.com'])

# Text to be translated
text = "AGER_TYP"

# Translate the text from German to English
translation = translator.translate(text, src='de', dest='en')

# Print the translated text
print("Original text (German):", text)
print("Translated text (English):", translation.text)