# Capstone Project: Create a Customer Segmentation Report for Arvato Financial Services

In this project, you will analyze demographics data for customers of a mail-order sales company in Germany, comparing it against demographics information for the general population. You'll use unsupervised learning techniques to perform customer segmentation, identifying the parts of the population that best describe the core customer base of the company. Then, you'll apply what you've learned on a third dataset with demographics information for targets of a marketing campaign for the company, and use a model to predict which individuals are most likely to convert into becoming customers for the company. The data that you will use has been provided by our partners at Bertelsmann Arvato Analytics, and represents a real-life data science task.

The versions of those two datasets used in this project will include many more features and has not been pre-cleaned. You are also free to choose whatever approach you'd like to analyzing the data rather than follow pre-determined steps. In your work on this project, make sure that you carefully document your steps and decisions, since your main deliverable for this project will be a blog post reporting your findings.

In [1]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# magic word for producing visualizations in notebook
%matplotlib inline

import missingno as msno
from googletrans import Translator

# import sys
# from IPython.display import display
# import pprint
# import itertools
# import math
# import nltk
# from nltk.corpus import wordnet

'''
custom modules
'''
# function similar to Excel's vlookup
from vlookup import vlookup
from vlookuporg import vlookup_org
# function to view all contents of a dataframe
from view_all import view_all

In [2]:
# pip install googletrans==4.0.0-rc1
# pip install missingno
# custom modules for convenience are in root folder

## Part 0: Get to Know the Data

There are four data files associated with this project:

- `Udacity_AZDIAS_052018.csv`: Demographics data for the general population of Germany; 891 211 persons (rows) x 366 features (columns).
- `Udacity_CUSTOMERS_052018.csv`: Demographics data for customers of a mail-order company; 191 652 persons (rows) x 369 features (columns).
- `Udacity_MAILOUT_052018_TRAIN.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 982 persons (rows) x 367 (columns).
- `Udacity_MAILOUT_052018_TEST.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 833 persons (rows) x 366 (columns).

Each row of the demographics files represents a single person, but also includes information outside of individuals, including information about their household, building, and neighborhood. Use the information from the first two files to figure out how customers ("CUSTOMERS") are similar to or differ from the general population at large ("AZDIAS"), then use your analysis to make predictions on the other two files ("MAILOUT"), predicting which recipients are most likely to become a customer for the mail-order company.

The "CUSTOMERS" file contains three extra columns ('CUSTOMER_GROUP', 'ONLINE_PURCHASE', and 'PRODUCT_GROUP'), which provide broad information about the customers depicted in the file. The original "MAILOUT" file included one additional column, "RESPONSE", which indicated whether or not each recipient became a customer of the company. For the "TRAIN" subset, this column has been retained, but in the "TEST" subset it has been removed; it is against that withheld column that your final predictions will be assessed in the Kaggle competition.

Otherwise, all of the remaining columns are the same between the three data files. For more information about the columns depicted in the files, you can refer to two Excel spreadsheets provided in the workspace. [One of them](./DIAS Information Levels - Attributes 2017.xlsx) is a top-level list of attributes and descriptions, organized by informational category. [The other](./DIAS Attributes - Values 2017.xlsx) is a detailed mapping of data values for each feature in alphabetical order.

In the below cell, we've provided some initial code to load in the first two datasets. Note for all of the `.csv` data files in this project that they're semicolon (`;`) delimited, so an additional argument in the [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) call has been included to read in the data properly. Also, considering the size of the datasets, it may take some time for them to load completely.

You'll notice when the data is loaded in that a warning message will immediately pop up. Before you really start digging into the modeling and analysis, you're going to need to perform some cleaning. Take some time to browse the structure of the data and look over the informational spreadsheets to understand the data values. Make some decisions on which features to keep, which features to drop, and if any revisions need to be made on data formats. It'll be a good idea to create a function with pre-processing steps, since you'll need to clean all of the datasets before you work with them.

### 1. Load and overview

#### 1.1 azdias

In [3]:
# 제출전 주석 해제
# '''
# load and file overview
# '''

# azdias = pd.read_csv('../csv_pickle/Udacity_AZDIAS_052018.csv', sep=';')
# azdias.name = 'azdias'
#
# print (azdias.info())
# azdias.head()

In [4]:
azdias = pd.read_pickle('../csv_pickle/azdias.pickle')

print (azdias.info())
azdias.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891221 entries, 0 to 891220
Columns: 366 entries, LNR to ALTERSKATEGORIE_GROB
dtypes: float64(267), int64(93), object(6)
memory usage: 2.4+ GB
None

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3

**[function]** miss_val_overview

In [5]:
def msno_overview (data, chunk_size = 100):
    '''
    function to display missing value using missingno library
    data: dataframe
    chunk_size: int, size of column chunk, 100 as default  
    '''
    # split data columns into chunks
    chunk_size = chunk_size
    column_chunks = [data.iloc[:, i : i + chunk_size] for i in range(0, data.shape[1], chunk_size)]

    # generate and display missingno plots for each chunk
    for i, j in enumerate(column_chunks):
        msno.matrix(j, figsize = (10, 3), fontsize = 8, labels = False, sparkline = False)
        plt.title(
            f'{data.name}: missing value overview - column {i * 100} to {min (i * chunk_size + chunk_size - 1, data.shape[1] - 1)}',
            fontsize = 10);

In [6]:
# '''
# missing value overview
# '''

# azdias.name = 'azdias'
# msno_overview(azdias)

#### 1.2 customers

In [7]:
# 제출전 주석 해제
# '''
# load and file overview
# '''

# customers = pd.read_csv('../csv_pickle/Udacity_CUSTOMERS_052018.csv', sep=';')
# print (customers.info())
# customers.head()

In [8]:
customers = pd.read_pickle('../csv_pickle/customers.pickle')

print (customers.info())
customers.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191652 entries, 0 to 191651
Columns: 369 entries, LNR to ALTERSKATEGORIE_GROB
dtypes: float64(267), int64(94), object(8)
memory usage: 539.5+ MB
None

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,PRODUCT_GROUP,CUSTOMER_GROUP,ONLINE_PURCHASE,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,9626,2,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,2.0,6.0,9.0,7.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
1,9628,-1,9.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,9.0,NaN,3,FOOD,SINGLE_BUYER,0,1,4
2,143872,-1,1.0,6.0,NaN,NaN,NaN,NaN,0.0,1.0,...,11.0,6.0,9.0,2.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
3,143873,1,1.0,8.0,NaN,NaN,NaN,NaN,8.0,0.0,...,2.0,NaN,9.0,7.0,1,COSMETIC,MULTI_BUYER,0,1,4
4,143874,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,7.0,...,4.0,2.0,9.0,3.0,1,FOOD,MULTI_BUYER,0,1,3

In [9]:
# '''
# missing value overview
# '''

# customers.name = 'customers'
# msno_overview(customers)

#### 1.3 info

In [10]:
'''
load and overview
'''

info = pd.read_excel(
    'DIAS Information Levels - Attributes 2017.xlsx', header=1).iloc[:, 1:]

print (info.info())
info.head(6)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 313 entries, 0 to 312
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Information level  10 non-null     object
 1   Attribute          313 non-null    object
 2   Description        313 non-null    object
 3   Additional notes   20 non-null     object
dtypes: object(4)
memory usage: 9.9+ KB
None

,Information level,Attribute,Description,Additional notes
0,NaN,AGER_TYP,best-ager typology,in cooperation with Kantar TNS; the informatio...
1,Person,ALTERSKATEGORIE_GROB,age through prename analysis,modelled on millions of first name-age-referen...
2,NaN,ANREDE_KZ,gender,NaN
3,NaN,CJT_GESAMTTYP,Customer-Journey-Typology relating to the pref...,"relating to the preferred information, marketi..."
4,NaN,FINANZ_MINIMALIST,financial typology: low financial interest,Gfk-Typology based on a representative househo...
5,NaN,FINANZ_SPARER,financial typology: money saver,NaN

#### 1.4 attr

In [11]:
'''
load and overview
'''

attr = pd.read_excel(
    'DIAS Attributes - Values 2017.xlsx', header=1).iloc[:, 1:]
# rename column Value to Score for easier documentation
attr = attr.rename(columns = {'Value' : 'Score'})

print (attr.info())
attr[103:108]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2258 entries, 0 to 2257
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Attribute    314 non-null    object
 1   Description  351 non-null    object
 2   Score        2258 non-null   object
 3   Meaning      2247 non-null   object
dtypes: object(4)
memory usage: 70.7+ KB
None

,Attribute,Description,Score,Meaning
103,NaN,NaN,9D,Mini-Jobber
104,NaN,NaN,9E,Socking Away
105,CAMEO_DEUINTL_2015,CAMEO classification 2015 - international typo...,-1,unknown
106,NaN,(each German CAMEO code belongs to one interna...,11,Wealthy Households-Pre-Family Couples & Singles
107,NaN,NaN,12,Wealthy Households-Young Couples With Children

### 2. Baseline understanding

**2자리 넘버링으로 정리 되도록 함**

There are 4 files given:
* 2 dataset files - azdias & customers
* 2 reference files - info & attr:  
  - info is for information on dataset features which are in unreadable German acronyms  
  - attr is for information on dataset values which are in numbers and acronyms,  
  and has corresponding meanings  

To establish a baseline, this section aims to identify key factors in the reference files   
that can help in understanding the contents of the dataset.

#### 2.1 reference features from info

As datasets do not have information on what each column feature exactly means,  
values of reference files have to be mapped to the features.
  
feature_desc below is for this needs, and formed with 369 column features from customers.

In [12]:
'''
feature_desc with column features of customers and added information from info 
'''

feature_desc = pd.DataFrame(customers.columns, columns=['Attribute'])
feature_desc = vlookup(feature_desc, info, 'Attribute')

feature_desc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 369 entries, 0 to 368
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Attribute          369 non-null    object
 1   Information level  9 non-null      object
 2   Description        264 non-null    object
 3   Additional notes   17 non-null     object
dtypes: object(4)
memory usage: 14.4+ KB

After merging information columns, there are 264 features from both customers and info,  
along with 105 exclusive features of customers lacking Description values.

In [13]:
'''
To fill the 105 missing Descriptions, 12 values are added from attr,  
and translation values are created using googletrans.
  
The result is saved in the root folder due to the time-consuming code execution.
'''
# # For values of Attribute without Description, add 12 Description values from attr
# feature_desc = vlookup(feature_desc, attr, 'Attribute', 'Description', intsec = 'update')

# # For values of Attribute without Description, make colum of translation (ger_to_eng)
# def ger_to_eng (ger_text):
#     '''
#     function to translate German text
#     '''    
#     translator = Translator(service_urls=['translate.google.com'])    
#     try:
#         translation = translator.translate(ger_text, src='de', dest='en')
#         return translation.text        
#     except:
#         return np.nan

# feature_desc['ger_to_eng'] = np.where(
#     feature_desc.Description.isnull(),
#     feature_desc.Attribute.str.replace('_', ' ').apply(ger_to_eng),
#     np.nan)
# feature_desc['Desc'] = feature_desc.Description.fillna('') + feature_desc.ger_to_eng.fillna('')

feature_desc = pd.read_excel('feature_desc.xlsx', index_col = [0])
feature_desc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Attribute          369 non-null    object
 1   Information level  9 non-null      object
 2   Additional notes   17 non-null     object
 3   Description        276 non-null    object
 4   ger_to_eng         93 non-null     object
 5   Desc               369 non-null    object
dtypes: object(6)
memory usage: 20.2+ KB

In [14]:
view_all(feature_desc.iloc[:10])

,Attribute,Information level,Additional notes,Description,ger_to_eng,Desc
0,LNR,NaN,NaN,NaN,LNR,LNR
1,AGER_TYP,NaN,in cooperation with Kantar TNS; the information basis is a consumer survey,best-ager typology,NaN,best-ager typology
2,AKT_DAT_KL,NaN,NaN,NaN,Act Dat KL,Act Dat KL
3,ALTER_HH,Household,NaN,main age within the household,NaN,main age within the household
4,ALTER_KIND1,NaN,NaN,NaN,Old child1,Old child1
5,ALTER_KIND2,NaN,NaN,NaN,Old child2,Old child2
6,ALTER_KIND3,NaN,NaN,NaN,Old child3,Old child3
7,ALTER_KIND4,NaN,NaN,NaN,Old child4,Old child4
8,ALTERSKATEGORIE_FEIN,NaN,NaN,NaN,Age category fine,Age category fine
9,ANZ_HAUSHALTE_AKTIV,Building,NaN,number of households in the building,NaN,number of households in the building

In [15]:
'''
삭제
'''

# '''
# understand all features one by one using custom function view_all

# not to run this cell, to save space in the final submission 
# '''

# # view_all(feature_desc)

# feature_desc.head()

'\n삭제\n'

The improved readability of feature_desc has enhanced the understanding  
of the overall structure of the datasets and the meanings of the features,  
although some translations still remain unclear.  

Since there are a few features that have similar contents, it is necessary  
to perform imputation steps to resolve collinearity and reduce dimensionality  
before proceeding with the modeling process.

#### 2.2 feature alignment

The following cells provide an overview of the number of features in each file  
and illustrates the feature intersection and difference between the files.

In [16]:
feature_dict = {
    'azdias' : set(azdias.columns.unique()),
    'customers' : set(customers.columns.unique()),
    'info' : set(info.Attribute.dropna().unique()),
    'attr' : set(attr.Attribute.dropna().unique()),
    'feature_desc' : set(feature_desc.Attribute.dropna().unique())
    }

print ('Number of features by file')
for k, v in feature_dict.items():
    print (k, ':', len(v))

Number of features by file
azdias : 366
customers : 369
info : 313
attr : 314
feature_desc : 369

In [17]:
print ('Feature intersection & difference between files')
for i in range(0, 5):
    for j in range (0, 5):
        if i == j:
            continue
        
        key_1 = list(feature_dict.keys())[i]
        key_2 = list(feature_dict.keys())[j]
        set_1 = list(feature_dict.values())[i]
        set_2 = list(feature_dict.values())[j]
        
        intsec = set_1.intersection(set_2)
        ft_diff = set_1 - set_2
        feature_dict[f'{key_1}_intsec_{key_2}'] = intsec
        feature_dict[f'in_{key_1}_notin_{key_2}'] = ft_diff
        
        intsec_print = f'{key_1} & {key_2} intersection:'
        ft_diff_print = f' /  in {key_1} & not-in {key_2}:'        
        print (intsec_print, str(len(intsec)).rjust(41 - len(intsec_print)),
               ft_diff_print, str(len(ft_diff)).rjust(40 - len(ft_diff_print)))

Feature intersection & difference between files
azdias & customers intersection:       366  /  in azdias & not-in customers:       0
azdias & info intersection:            264  /  in azdias & not-in info:          102
azdias & attr intersection:            272  /  in azdias & not-in attr:           94
azdias & feature_desc intersection:    366  /  in azdias & not-in feature_desc:    0
customers & azdias intersection:       366  /  in customers & not-in azdias:       3
customers & info intersection:         264  /  in customers & not-in info:       105
customers & attr intersection:         272  /  in customers & not-in attr:        97
customers & feature_desc intersection: 369  /  in customers & not-in feature_desc: 0
info & azdias intersection:            264  /  in info & not-in azdias:           49
info & customers intersection:         264  /  in info & not-in customers:        49
info & attr intersection:              300  /  in info & not-in attr:             13
info & feature_desc intersection:      264  /  in info & not-in feature_desc:     49
attr & azdias intersection:            272  /  in attr & not-in azdias:           42
attr & customers intersection:         272  /  in attr & not-in customers:        42
attr & info intersection:              300  /  in attr & not-in info:             14
attr & feature_desc intersection:      272  /  in attr & not-in feature_desc:     42
feature_desc & azdias intersection:    366  /  in feature_desc & not-in azdias:    3
feature_desc & customers intersection: 369  /  in feature_desc & not-in customers: 0
feature_desc & info intersection:      264  /  in feature_desc & not-in info:    105
feature_desc & attr intersection:      272  /  in feature_desc & not-in attr:     97

#### 2.3 reference values from attr

After identifying the dataset structure in parts 2.1 and 2.2 above,  
part 2.3 focuses on examining the dataset contents.  
In this part, various aspects such as the ranges of feature values,  
values actually meaning null, data types, and more are to be verified,  
and preliminary notes will be recorded on pre-processing requirements.

<!-- ##### 2.3.0 attr modification -->

Considering that info contains information about dataset features, attr contains  
information about dataset values and the values within the datasets can be understood  
by mapping them to the corresponding Meaning values in attr.

However, it is necessary to initially modify attr since it is not in a neat form.

* clean attr

In [18]:
'''
merge add-on information in some cells below Description
'''
 # keep attr original
attr_org = attr.copy()

### merge minor add-on information
# create attribute and description_shift with shift(-1)
attr['attribute_shift'] = attr.Attribute.shift(-1).fillna('')
attr['description_shift'] = attr.Description.shift(-1).fillna('')
# merge Description and add-on
attr.Description = attr.Description.mask(
    (~(attr['Attribute'].isna()) & (attr['attribute_shift'].isna())),
    attr.Description + ' ' + attr.description_shift)
# replace add-on with np.nan
attr.Description = attr.Description.mask(
    (attr['Attribute'].isna()) & ~(attr['Description'].isna()),
    np.nan)
# drop description shift
attr = attr.drop(['attribute_shift', 'description_shift'], axis = 1)

'''
fill blank cells with corresponding values as only 1st lines
of Attribute & Description have values
'''
attr[['Attribute', 'Description']] = attr[
    ['Attribute', 'Description']].fillna(method = 'ffill')

'''
keep 272 intersection features between attr and datasets,
and drop exclusive features of datasets that are not useful at this step
'''

attr = attr[attr.Attribute.isin(feature_dict['attr_intsec_customers'])] # simple query not working

print (f'number of Attribute: {attr.Attribute.nunique()}')
attr.info()

number of Attribute: 272
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1916 entries, 0 to 2257
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Attribute    1916 non-null   object
 1   Description  1916 non-null   object
 2   Score        1916 non-null   object
 3   Meaning      1905 non-null   object
dtypes: object(4)
memory usage: 74.8+ KB

삭제가 좋을 듯
<!-- After modifying the attribute file to have well-organized data values,  
it is filtered to retain only 272 intersection features with customers.  
This filtering process involves dropping the exclusive features of attr  
that are not useful for analyzing the datasets of customers and azdias. -->

In [19]:
# '''
# keep 272 intersection features between attr and datasets,
# and drop exclusive features of datasets that are not useful at this step
# '''

# attr = attr[attr.Attribute.isin(feature_dict['attr_intsec_customers'])] # simple query not working

# print (attr.Attribute.nunique())

In [20]:
# '''
# attr_num containing Score values in numeric form
# '''

# attr_num = attr[attr.Score_form == int].copy()

# attr_num.info()

삭제 검토
<!-- * **remove Scores lacking Meaning values**
    
  A small issue detected here is that there are 11 lines without value of Meaning.  
  From the examination below, 2 features involved with these lines can be dropped,  
  as they have other features with similar but more detailed Meaning values. -->

In [21]:
'''
2 features involved with lines without Meaning values
'''

attr.query('Meaning.isnull()').Attribute.value_counts()

LP_FAMILIE_GROB    6
LP_STATUS_GROB     5
Name: Attribute, dtype: int64

In [22]:
'''
these features can be dropped, as they have similar features
with more detailed Meaning values
'''

attribute_without_meaning = attr.query('Attribute.str.contains("LP_FAMILIE|LP_STATUS")')
attribute_without_meaning[attribute_without_meaning.Score > 8]

            Attribute          Description Score                       Meaning
1900  LP_FAMILIE_FEIN       familytyp fine     9                   shared flat
1901  LP_FAMILIE_FEIN       familytyp fine    10    two-generational household
1902  LP_FAMILIE_FEIN       familytyp fine    11  multi-generational household
1911  LP_FAMILIE_GROB      familytyp rough     9         multiperson household
1912  LP_FAMILIE_GROB      familytyp rough    10                           NaN
1913  LP_FAMILIE_GROB      familytyp rough    11                           NaN
1974   LP_STATUS_FEIN   social status fine     9                   houseowners
1975   LP_STATUS_FEIN   social status fine    10                  top earners
1984   LP_STATUS_GROB  social status rough     9                           NaN
1985   LP_STATUS_GROB  social status rough    10                  top earners

In [23]:
'''
NOTE dict p_process to note points to be pre-processed
'''

p_process = {'2.3' : 'drop features LP_FAMILIE_GROB / LP_STATUS_GROB'}

attr = attr.query('Attribute not in ["LP_FAMILIE_GROB", "LP_STATUS_GROB"]')

* **create pre-study dataframes based on values forms of Scores**
    
  A small issue detected here is that there are 11 lines without value of Meaning.  
  From the examination below, 2 features involved with these lines can be dropped,  
  as they have other features with similar but more detailed Meaning values.

삭제
<!-- In the last step of modifying attr, column Score_form is added  
to classify 272 features into 2 categories based on value forms in Score. -->

In [24]:


attr = attr.copy() # to avoid SettingWithCopyWarning
attr['Score_form'] = attr.Score.map(type)
attr.Score_form.value_counts()

<class 'int'>    1753
<class 'str'>     142
Name: Score_form, dtype: int64

삭제
<!-- Out of 272 features, 264 features are extracted with the condition  
that values within column Score are of numeric form. -->

In [25]:
'''
attr_num containing Scores denoted in number
'''

attr_num = attr[attr.Score_form == int].copy()

print (f'number of Attribute(s): {attr_num.Attribute.nunique()}')
# attr_num.shape

number of Attribute(s): 262

In [26]:
'''
attr_str containing Scores denoted in string
'''

attr_str = attr[attr.Score_form == str].copy()

print (f'number of Attribute(s): {attr_str.Attribute.nunique()}')
# attr_str.info()

number of Attribute(s): 98

In [27]:
view_all(attr_str)

,Attribute,Description,Score,Meaning,Score_form
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown,<class 'str'>
33,ANREDE_KZ,gender,"-1, 0",unknown,<class 'str'>
36,ANZ_HAUSHALTE_AKTIV,number of households in the building,…,numeric value (typically coded from 1-10),<class 'str'>
37,ANZ_HH_TITEL,number of academic title holder in building,…,numeric value (typically coded from 1-10),<class 'str'>
38,ANZ_PERSONEN,number of adult persons in the household,…,numeric value (typically coded from 1-3),<class 'str'>
39,ANZ_TITEL,number of professional title holder in household,…,numeric value (typically coded from 1-10),<class 'str'>
61,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,1A,Work-Life-Balance,<class 'str'>
62,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,1B,Wealthy Best Ager,<class 'str'>
63,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,1C,Successful Songwriter,<class 'str'>
64,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,1D,Old Nobility,<class 'str'>
65,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,1E,City Nobility,<class 'str'>
66,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,2A,Cottage Chic,<class 'str'>
67,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,2B,Noble Jogger,<class 'str'>
68,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,2C,Established gourmet,<class 'str'>
69,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,2D,Fine Management,<class 'str'>
70,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,3A,Career & Family,<class 'str'>
71,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,3B,Powershopping Families,<class 'str'>
72,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,3C,Rural Neighborhood,<class 'str'>
73,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,3D,Secure Retirement,<class 'str'>
74,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,4A,Family Starter,<class 'str'>
75,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,4B,Family Life,<class 'str'>
76,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,4C,String Trimmer,<class 'str'>
77,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,4D,Empty Nest,<class 'str'>
78,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,4E,Golden Ager,<class 'str'>
79,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,5A,Younger Employees,<class 'str'>
80,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,5B,Suddenly Family,<class 'str'>
81,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,5C,Family First,<class 'str'>
82,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,5D,Stock Market Junkies,<class 'str'>
83,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,5E,Coffee Rider,<class 'str'>
84,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,5F,Active Retirement,<class 'str'>
85,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,6A,Jobstarter,<class 'str'>
86,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,6B,Petty Bourgeois,<class 'str'>
87,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,6C,Long-established,<class 'str'>
88,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,6D,Sportgardener,<class 'str'>
89,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,6E,Urban Parents,<class 'str'>
90,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,6F,Frugal Aging,<class 'str'>
91,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,7A,Journeymen,<class 'str'>
92,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,7B,Mantaplatte,<class 'str'>
93,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,7C,Factory Worker,<class 'str'>
94,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,7D,Rear Window,<class 'str'>
95,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,7E,Interested Retirees,<class 'str'>
96,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,8A,Multi-culteral,<class 'str'>
97,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,8B,Young & Mobile,<class 'str'>
98,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,8C,Prefab,<class 'str'>
99,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,8D,Town Seniors,<class 'str'>
100,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,9A,First Shared Apartment,<class 'str'>
101,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,9B,Temporary Workers,<class 'str'>
102,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,9C,Afternoon Talk Show,<class 'str'>
103,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,9D,Mini-Jobber,<class 'str'>
104,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,9E,Socking Away,<class 'str'>
697,GEBAEUDETYP,type of building (residential or commercial),"-1, 0",unknown,<class 'str'>
711,GEBURTSJAHR,year of birth,…,numeric value,<class 'str'>
749,HH_EINKOMMEN_SCORE,estimated household net income,"-1, 0",unknown,<class 'str'>
765,KBA05_ALTER1,share of car owners less than 31 years old,"-1, 9",unknown,<class 'str'>
771,KBA05_ALTER2,share of car owners inbetween 31 and 45 years of age,"-1, 9",unknown,<class 'str'>
777,KBA05_ALTER3,share of car owners inbetween 45 and 60 years of age,"-1, 9",unknown,<class 'str'>
783,KBA05_ALTER4,share of cars owners elder than 61 years,"-1, 9",unknown,<class 'str'>
790,KBA05_ANHANG,share of trailers in the microcell,"-1, 9",unknown,<class 'str'>
821,KBA05_AUTOQUOT,share of cars per household,"-1, 9",unknown,<class 'str'>
822,KBA05_BAUMAX,most common building-type within the cell,"-1, 0",unknown,<class 'str'>
828,KBA05_CCM1,share of cars with less than 1399ccm,"-1, 9",unknown,<class 'str'>
834,KBA05_CCM2,share of cars with 1400ccm to 1799 ccm,"-1, 9",unknown,<class 'str'>
840,KBA05_CCM3,share of cars with 1800ccm to 2499 ccm,"-1, 9",unknown,<class 'str'>
846,KBA05_CCM4,share of cars with more than 2499ccm,"-1, 9",unknown,<class 'str'>
852,KBA05_DIESEL,share of cars with Diesel-engine in the microcell,"-1, 9",unknown,<class 'str'>
858,KBA05_FRAU,share of female car owners,"-1, 9",unknown,<class 'str'>
864,KBA05_GBZ,number of buildings in the microcell,"-1, 0",unknown,<class 'str'>
870,KBA05_HERST1,"share of top German manufacturer (Mercedes, BMW)","-1, 9",unknown,<class 'str'>
877,KBA05_HERST2,share of Volkswagen-Cars (including Audi),"-1, 9",unknown,<class 'str'>
884,KBA05_HERST3,share of Ford/Opel,"-1, 9",unknown,<class 'str'>
891,KBA05_HERST4,"share of European manufacturer (e.g. Fiat, Peugeot, Rover,...)","-1, 9",unknown,<class 'str'>
898,KBA05_HERST5,"share of asian manufacturer (e.g. Toyota, Kia,...)","-1, 9",unknown,<class 'str'>
905,KBA05_HERSTTEMP,development of the most common car manufacturers in the neighbourhood,"-1, 9",unknown,<class 'str'>
911,KBA05_KRSAQUOT,share of cars per household (reffered to county average),"-1, 9",unknown,<class 'str'>
917,KBA05_KRSHERST1,share of Mercedes/BMW (reffered to the county average),"-1, 9",unknown,<class 'str'>
923,KBA05_KRSHERST2,share of Volkswagen (reffered to the county average),"-1, 9",unknown,<class 'str'>
929,KBA05_KRSHERST3,share of Ford/Opel (reffered to the county average),"-1, 9",unknown,<class 'str'>
935,KBA05_KRSKLEIN,share of small cars (referred to the county average),"-1, 9",unknown,<class 'str'>
939,KBA05_KRSOBER,share of upper class cars (referred to the county average),"-1, 9",unknown,<class 'str'>
943,KBA05_KRSVAN,share of vans (referred to the county average),"-1, 9",unknown,<class 'str'>
947,KBA05_KRSZUL,share of newbuilt cars (referred to the county average),"-1, 9",unknown,<class 'str'>
951,KBA05_KW1,share of cars with less than 59 KW engine power,"-1, 9",unknown,<class 'str'>
957,KBA05_KW2,share of cars with an engine power between 60 and 119 KW,"-1, 9",unknown,<class 'str'>
963,KBA05_KW3,share of cars with an engine power of more than 119 KW,"-1, 9",unknown,<class 'str'>
969,KBA05_MAXAH,most common age of car owners in the microcell,"-1, 9",unknown,<class 'str'>
975,KBA05_MAXBJ,most common age of the cars in the microcell,"-1, 9",unknown,<class 'str'>
980,KBA05_MAXHERST,most common car manufacturer in the microcell,"-1, 9",unknown,<class 'str'>
986,KBA05_MAXSEG,most common car segment in the microcell,"-1, 9",unknown,<class 'str'>
991,KBA05_MAXVORB,most common preowner structure in the microcell,"-1, 9",unknown,<class 'str'>
995,KBA05_MOD1,share of upper class cars (in an AZ specific definition),"-1, 9",unknown,<class 'str'>
1001,KBA05_MOD2,share of middle class cars (in an AZ specific definition),"-1, 9",unknown,<class 'str'>
1007,KBA05_MOD3,share of Golf-class cars (in an AZ specific definition),"-1, 9",unknown,<class 'str'>
1013,KBA05_MOD4,share of small cars (in an AZ specific definition),"-1, 9",unknown,<class 'str'>
1020,KBA05_MOD8,share of vans (in an AZ specific definition),"-1, 9",unknown,<class 'str'>
1025,KBA05_MODTEMP,development of the most common car segment in the neighbourhood,"-1, 9",unknown,<class 'str'>
1031,KBA05_MOTOR,most common engine size in the microcell,"-1, 9",unknown,<class 'str'>
1036,KBA05_MOTRAD,share of motorcycles per household,"-1, 9",unknown,<class 'str'>
1041,KBA05_SEG1,share of very small cars (Ford Ka etc.) in the microcell,"-1, 9",unknown,<class 'str'>
1046,KBA05_SEG10,"share of more specific cars (Vans, convertables, all-terrains, MUVs etc.)","-1, 9",unknown,<class 'str'>
1052,KBA05_SEG2,"share of small and very small cars (Ford Fiesta, Ford Ka etc.) in the microcell","-1, 9",unknown,<class 'str'>
1058,KBA05_SEG3,share of lowe midclass cars (Ford Focus etc.) in the microcell,"-1, 9",unknown,<class 'str'>
1064,KBA05_SEG4,share of middle class cars (Ford Mondeo etc.) in the microcell,"-1, 9",unknown,<class 'str'>
1070,KBA05_SEG5,"share of upper middle class cars and upper class cars (BMW5er, BMW7er etc.)","-1, 9",unknown,<class 'str'>
1076,KBA05_SEG6,share of upper class cars (BMW 7er etc.) in the microcell,"-1, 9",unknown,<class 'str'>
1079,KBA05_SEG7,share of all-terrain vehicles and MUVs in the microcell,"-1, 9",unknown,<class 'str'>
1084,KBA05_SEG8,share of roadster and convertables in the microcell,"-1, 9",unknown,<class 'str'>
1089,KBA05_SEG9,share of vans in the microcell,"-1, 9",unknown,<class 'str'>
1094,KBA05_VORB0,share of cars with no preowner,"-1, 9",unknown,<class 'str'>
1100,KBA05_VORB1,share of cars with one or two preowner,"-1, 9",unknown,<class 'str'>
1106,KBA05_VORB2,share of cars with more than two preowner,"-1, 9",unknown,<class 'str'>
1113,KBA05_ZUL1,share of cars built before 1994,"-1, 9",unknown,<class 'str'>
1119,KBA05_ZUL2,share of cars built between 1994 and 2000,"-1, 9",unknown,<class 'str'>
1125,KBA05_ZUL3,share of cars built between 2001 and 2002,"-1, 9",unknown,<class 'str'>
1132,KBA05_ZUL4,share of cars built from 2003 on,"-1, 9",unknown,<class 'str'>
1167,KBA13_ANZAHL_PKW,number of cars in the PLZ8,…,numeric value,<class 'str'>
1880,KKK,purchasing power,"-1, 0",unknown,<class 'str'>
1986,MIN_GEBAEUDEJAHR,year the building was first mentioned in our database,…,numeric value,<class 'str'>
1993,NATIONALITAET_KZ,nationaltity (scored by prename analysis),"-1, 0",unknown,<class 'str'>
2003,ORTSGR_KLS9,size of the community,-1,unknown,<class 'str'>
2014,OST_WEST_KZ,flag indicating the former GDR/FRG,O,East (GDR),<class 'str'>
2015,OST_WEST_KZ,flag indicating the former GDR/FRG,W,West (FRG),<class 'str'>
2054,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (avantgarde or mainstream),"-1, 0",unknown,<class 'str'>
2070,REGIOTYP,neighbourhood,"-1, 0",unknown,<class 'str'>
2083,RELAT_AB,share of unemployed in relation to the county the community belongs to,"-1, 9",unknown,<class 'str'>
2090,SEMIO_DOM,affinity indicating in what way the person is dominant minded,"-1, 9",unknown,<class 'str'>
2098,SEMIO_ERL,affinity indicating in what way the person is eventful orientated,"-1, 9",unknown,<class 'str'>
2106,SEMIO_FAM,affinity indicating in what way the person is familiar minded,"-1, 9",unknown,<class 'str'>
2114,SEMIO_KAEM,affinity indicating in what way the person is of a fightfull attitude,"-1, 9",unknown,<class 'str'>
2122,SEMIO_KRIT,affinity indicating in what way the person is critical minded,"-1, 9",unknown,<class 'str'>
2130,SEMIO_KULT,affinity indicating in what way the person is cultural minded,"-1, 9",unknown,<class 'str'>
2138,SEMIO_LUST,affinity indicating in what way the person is sensual minded,"-1, 9",unknown,<class 'str'>
2146,SEMIO_MAT,affinity indicating in what way the person is material minded,"-1, 9",unknown,<class 'str'>
2154,SEMIO_PFLICHT,affinity indicating in what way the person is dutyfull traditional minded,"-1, 9",unknown,<class 'str'>
2162,SEMIO_RAT,affinity indicating in what way the person is of a rational mind,"-1, 9",unknown,<class 'str'>
2170,SEMIO_REL,affinity indicating in what way the person is religious,"-1, 9",unknown,<class 'str'>
2178,SEMIO_SOZ,affinity indicating in what way the person is social minded,"-1, 9",unknown,<class 'str'>
2186,SEMIO_TRADV,affinity indicating in what way the person is traditional minded,"-1, 9",unknown,<class 'str'>
2194,SEMIO_VERT,affinity indicating in what way the person is dreamily,"-1, 9",unknown,<class 'str'>
2210,TITEL_KZ,flag whether this person holds an academic title,"-1, 0",unknown,<class 'str'>
2219,WOHNDAUER_2008,length of residence,"-1, 0",unknown,<class 'str'>
2244,W_KEIT_KIND_HH,likelihood of a child present in this household,"-1, 0",unknown,<class 'str'>
2251,ZABEOTYP,typification of energy consumers,"-1, 9",unknown,<class 'str'>

In [28]:
'''
there 90 features that Scores are in both numeric and string forms
'''

len(set(attr_num.Attribute.unique()).intersection(set(attr_str.Attribute.unique())))

90

##### 2.3.1 attr Scores denoted in number

From min/max categories 를 만들었으며, to be further checked are:   
* If Score -1 and 0 contain data equal to null or -inf  
* If max Score values contain data equal to null or inf
* If features with wider min/max gap are discrete or continuous

**[function]** pv_min_max

In [29]:
def pv_min_max(data, pv_idx = ['Attribute', 'Description', 'Desc', 'Additional notes'], display = True):
    '''
    function to display min/max values of Score after adding information from feature_desc
    
    data : dataframe to examine
    pv_idx: list of pivot_table index
    display: boolean, selection of result display
    '''
    data = vlookup(data, feature_desc, 'Attribute', ['Desc', 'Additional notes'], fill_na = 'no_info')
    pv = pd.pivot_table(
        data,
        index = pv_idx,
        values = 'Score',
        aggfunc = [min, max]
        )
        
    pv['min_max_cat'] = pv['min'].astype(int).astype(str) + ' to ' + pv['max'].astype(int).astype(str)
    pv = pv.sort_values(by = 'min_max_cat')
    
    pv = pd.DataFrame(pv.to_records())
    pv.columns = list(pv.columns[:-3]) + list(eval(i)[0] for i in pv.columns[-3:])
    print (f'number of Attribute(s): {data.Attribute.nunique()}')

    if display:
        print (pv.min_max_cat.unique())
    
    return pv

**[function]** pv_meaning_score

In [30]:
def pv_meaning_score(data, pv_idx = ['Attribute', 'Description', 'Desc', 'Additional notes'], display = True):
    '''
    function to display the summary of Meaning and Score values
    after adding information from feature_desc
    
    data : dataframe to examine
    pv_idx: list of pivot_table index
    display: boolean, selection of result display
    '''
    data = vlookup(data, feature_desc, 'Attribute', ['Desc', 'Additional notes'], fill_na = 'no_info')
    pv = pd.pivot_table(
        data,
        index = pv_idx,
        values = ['Meaning', 'Score'],
        aggfunc = lambda x: list(x))
    
    pv = pd.DataFrame(pv.to_records())
    print (f'number of Attribute(s): {data.Attribute.nunique()}')
    
    if display:
        view_all(pv.iloc[:5])
    
    return pv

**[function]** pv_verify_null

In [31]:
def pv_verify_null(data, null_list, pv_idx = ['Attribute', 'Description', 'Desc', 'Additional notes'], display = True):
    '''
    function to display the summary of Meaning and Score values
    when Meaning values are in the list containing possibly null values 
    
    data: dataframe to examine
    null_list: list of possibly null values
    pv_idx: pivot_table index
    display: boolean, selection of result display
    '''
    null_check_Attribute = data.query('Meaning in @null_list').Attribute.to_list()
    null_check = data.query('Attribute in @null_check_Attribute')
    
    pv = pv_meaning_score(null_check, pv_idx, display)
    
    return pv

In [32]:
'''
summary of attr_num with min/max value observed
'''

# summary of attr_num with min/max value categories
attr_num_score = pv_min_max(attr_num)

number of Attribute(s): 262
['-1 to -1' '-1 to 2' '-1 to 3' '-1 to 4' '-1 to 5' '-1 to 6' '-1 to 7'
 '-1 to 8' '-1 to 9' '0 to 1' '0 to 10' '0 to 21' '0 to 3' '0 to 4'
 '0 to 5' '0 to 6' '1 to 10' '1 to 11' '1 to 12' '1 to 15' '1 to 2'
 '1 to 3' '1 to 4' '1 to 40' '1 to 5' '1 to 6' '1 to 7' '1 to 8' '1 to 9']

In [79]:
attr_num_score

,Attribute,Description,Desc,Additional notes,min,max,min_max_cat
0,OST_WEST_KZ,flag indicating the former GDR/FRG,flag indicating the former GDR/FRG,no_info,-1,-1,-1 to -1
1,VERS_TYP,insurance typology,insurance typology,in cooperation with TNS Infratest,-1,2,-1 to 2
2,PLZ8_ANTG4,number of >10 family houses in the PLZ8,number of >10 family houses in the PLZ8,no_info,-1,2,-1 to 2
3,KBA05_ANTG4,number of >10 family houses in the cell,number of >10 family houses in the cell,no_info,-1,2,-1 to 2
4,AGER_TYP,best-ager typology,best-ager typology,in cooperation with Kantar TNS; the informatio...,-1,3,-1 to 3
...,...,...,...,...,...,...,...
257,GEBAEUDETYP,type of building (residential or commercial),type of building (residential or commercial),no_info,1,8,1 to 8
258,ORTSGR_KLS9,size of the community,size of the community,no_info,1,9,1 to 9
259,ALTERSKATEGORIE_GROB,age classification through prename analysis,age classification through prename analysis,modelled on millions of first name-age-referen...,1,9,1 to 9
260,WOHNDAUER_2008,length of residence,length of residence,no_info,1,9,1 to 9
261,D19_KONSUMTYP,consumption type,consumption type,no_info,1,9,1 to 9

In [80]:
attr_num_score.query('Attribute == "KBA05_VORB2"')

,Attribute,Description,Desc,Additional notes,min,max,min_max_cat
158,KBA05_VORB2,share of cars with more than two preowner,share of cars with more than two preowner,no_info,0,5,0 to 5

In [81]:
attr_num.query('Attribute == "KBA05_VORB2"')

,Attribute,Description,Score,Meaning,Score_form
1107,KBA05_VORB2,share of cars with more than two preowner,0.0,none,<class 'int'>
1108,KBA05_VORB2,share of cars with more than two preowner,1.0,very low,<class 'int'>
1109,KBA05_VORB2,share of cars with more than two preowner,2.0,low,<class 'int'>
1110,KBA05_VORB2,share of cars with more than two preowner,3.0,average,<class 'int'>
1111,KBA05_VORB2,share of cars with more than two preowner,4.0,high,<class 'int'>
1112,KBA05_VORB2,share of cars with more than two preowner,5.0,very high,<class 'int'>

In [82]:
attr.query('Attribute == "KBA05_VORB2"')

,Attribute,Description,Score,Meaning,Score_form
1106,KBA05_VORB2,share of cars with more than two preowner,"-1, 9",unknown,<class 'str'>
1107,KBA05_VORB2,share of cars with more than two preowner,0,none,<class 'int'>
1108,KBA05_VORB2,share of cars with more than two preowner,1,very low,<class 'int'>
1109,KBA05_VORB2,share of cars with more than two preowner,2,low,<class 'int'>
1110,KBA05_VORB2,share of cars with more than two preowner,3,average,<class 'int'>
1111,KBA05_VORB2,share of cars with more than two preowner,4,high,<class 'int'>
1112,KBA05_VORB2,share of cars with more than two preowner,5,very high,<class 'int'>

In [87]:
scores = pd.pivot_table(
    attr,
    index = 'Score',
    values = 'Meaning',
    aggfunc = lambda x: list(set(x))
)
view_all(scores)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    Meaning
Score
-1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                [unknown]
0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       [no transactions known, unknown, classification not possible, doesn't belong to the green avantgarde, no >10 family homes, unknown / no main age detectable, none, no 3-5 family homes, no Online-transactions within the last 12 months, no 1-2 family homes, external supplied hedonists , no classification possible, no 6-10 family homes, no score calculated]
1                                                                                                                                        [green, very high, most likely, very good neighbourhood, below 30 years, low share, highest income, low finacial interest, male, 01.01.1895 bis 31.12.1899, very high mobility, social-safety driven, business cell, length of residence below 1 year, lower share of 6-10 family homes, less than 60 buildings, less than 130 households, Dr., single low-income earners of younger age, very low, Shopping-stressed, sounding german, Event travelers, belongs to the green avantgarde, critical reserved , very small engine, influenceable Crazy-Shopper, before 1994, no preowner, very low car quote, typical low-income earners, city centre, passive elderly, some, way below average, very low activity, 10% Online-transactions within the last 12 months, Top-German, low, less than 34 HH/km², 40ies - war years (Mainstream, O+W), single , below average, single low-income- and average earners of younger age , <= 2.000 inhabitants, lower share of 1-2 family homes, residental building, 1-2 buildings, upper class, promoted, mainly 1-2 family homes in the microcell, Advertising- and Consumptionminimalist, building is located in a 125 x 125m-grid cell (RA1), which is a consumption cell, highest activity within the last 12 months, < 30 years, small car, mainly 1-2 family homes, mainly small engines, Universal, lower share of >10 family homes, lower share of 3-5 family homes, till 10 km, highest affinity]
2      [low activity, 01.01.1900 bis 31.12.1904, mixed cell with high business share, some more, middle, single low-income earners of middle age, 30 - 40 years, lower middleclass car, VW-Audi, mainly medium sized engines, couple, high mobility, sounding foreign, money saver, 2.001 to 5.000 inhabitants, Dr. Dr., 60-129 buildings, average, length of residence 1-2 years, 30 - 45 years, distance to the city centre 3 km, average share of 1-2 family homes, mainly 3-5 family homes, very high income, 10 - 20 km, very high affinity, good neighbourhood, 20% Online-transactions within the last 12 months, 1994 - 1997, 3-4 buildings, smart, single low-income- and average earners of higher age , 34 - 89 HH/km², low, Versatile, very high activity within the last 12 months, small engine, Family-oriented vacationists, residental building buildings without actually known household, below average, conservatives, mainly 3-5 family homes in the microcell, average share of 6-10 family homes, demanding Heavy-Returner, high share of >10 family homes, Advertising- and Consumptiontraditionalist, building is located in a 250 x 250m-grid cell, which includes at least one RA1-consumption cell, female, individualistic-accepting risks, 1 preowner, 40ies - reconstruction years (Avantgarde, O+W), average share, very likely, high share, cultural elderly, stayed upper level, orientationseeking low-income earners, high, upper middleclass, low car quote, 131-299 households, family-shopper, sanitary affine  , average share of 3-5 family homes]
3                                                                                                      [40 - 50 years, 2 or more preowner, mixed cell with middle business share, mainly 6-10 family homes in the microcell, 130-299 buildings, incentive-receptive Normal-Returner, assimilated names, 5-16 buildings, above average, established middleclasse, average, middle mobility, building is located in a 500 x 500m-grid cell, which includes at least one RA1-consumption cell, middle class car, average neighbourhood, 20 - 30 km, jaunty hedonists , Prof., 300-599 households, average engine, 5.001 to 10.000 inhabitants, Gourmet, average car quote, Ford/Opel, mainly high engines, high affinity, main focus is the own house, high activity within the last 12 months, 90 - 149 HH/km², 1998 - 2000, experience-driven elderly, aspiring low-income earners , 01.01.1905 bis 31.12.1909, very many, stayed lower/average level, 46 - 60 years, upper middle class, demanding shopper, high income, likely, Winter sportspeople, mixed (=residential and company) building , 30% Online-transactions within the last 12 months, young single parent , distance to the city centre 3-5 km, high share of 3-5 family homes, 50ies - economic miracle (Mainstream, O+W), length of residence 2-3 years, high share, mainly 6-10 family homes, high share of 1-2 family homes, high, single average earners of younger age , fair supplied, slightly increased activity, advertisinginterested Store-shopper, single high-income earners, high share of 6-10 family homes]
4                                                                                                                                                                                                                                                              [30 - 40 km, very high, 50ies - milk bar / Individualisation (Avantgarde, O+W), European, 01.01.1910 bis 31.12.1914, very high share, since 2001, above average, length of residence 3-4 years, average, high car quote, distance to the city centre 5-10 km, average affinity, mainly very big engines, very high share of 1-2 family homes, 17-22 buildings, mixed cell with low business share, 50 - 60 years, > 60 years, very high share of 3-5 family homes, Culture lovers, villagers, poor neighbourhood, advertisinginterested Online-shopper, increased activity, mainly>10 family homes in the microcell, single parent with teenager, price driven, increased activity within the last 12 months, low, average income, Family, be prepared, consumption-oriented middleclass , single low-income- and average earner-couples , conservative Low-Returner, 40% Online-transactions within the last 12 months, single average earners of middle age, middle class, big engine, 150 - 319 HH/km², demoted, 600-849 households, Prof. Dr., upper class car, building is located in a 1 x 1km-grid cell, which includes at least one RA1-consumption cell, low mobility, high, 10.001 to 20.000 inhabitants, 300-449 buildings, mainly >10 family homes, mixed building without actually known household or comapny ]
5                                                                                                                                                                                                                                                                                                                                                                                                                 [Investor, very poor neighbourhood, distance to the city centre 10-20 km, mainly business building, very high, 50% Online-transactions within the last 12 months, residential cell, lower middle class, mainly business buildings in the microcell, low affinity, Informed , 01.01.1915 bis 31.12.1919, >=23 buildings, 320 - 999 HH/km², new building, single high-income earner-couples, unlikely, building is located in a 2 x 2km-grid cell, which includes at least one RA1-consumption cell, very low, elder than 60 years, Asian, 40 - 50 km, 20.001 to 50.000 inhabitants, lower income, determined Minimal-Returner, other, seeking orientation, very high car quote, more than 449 buildings, highest  , length of residence 4-5 years, single parent with child of full age, single low-income earners of advanced age, high activity, more than 849 households, slightly increased activity within the last 12 months, Advertising- and Cross-Channel-Enthusiast, way above average, very low mobility , active middleclass , 60ies - economic miracle (Mainstream, O+W), minimalistic high-income earners, Nature fans, company building w/o known company ]
6                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    [activity elder than 12 months, Advertising-Enthusiast with restricted Cross-Channel-Behaviour , 60ies - generation 68 / student protestors (Avantgarde, W), single low-income earners at retirement age , very unlikely, independant workers, none, unremarkable, activity elder than 1 year, Hiker, 01.01.1920 bis 31.12.1924, 50-100 km, building is located in a 10 x 10km-grid cell, which includes at least one RA1-consumption cell, 50.001 to 100.000 inhabitants, very low affinity, length of residence 5-6 years, low-consumption middleclass, very high activity, 60% Online-transactions within the last 12 months, Modern, distance to the city centre 20-30 km, single parents, indifferent, mixed building without actually known household , more than 999 HH/², traditional workers, young family , very low income]
7                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                [family with teenager , company building, single low-income- and average earner-families, more than 100 km , Golden ager, building is not located in a 10 x 10km-range to a a consumption cell, single average earners of advanced age, 100.001 to 300.000 inhabitants, marginal groups, lower middleclass, rural neighbourhood, 01.01.1925 bis 31.12.1929, activity elder than 18 months, distance to the city centre 30-40 km, activity elder than 1,5 years, lowest affinity, 70% Online-transactions within the last 12 months, title holder-households, length of residence 6-7 years, 60ies - opponents to the building of the Wall (Avantgarde, O)]
8                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                [single average earners at retirement age, working class, 01.01.1930 bis 31.12.1934, new building in rural neighbourhood, distance to the city centre > 40 km, 70ies - family orientation (Mainstream, O+W), activity elder than 24 months, Homeland-connected vacationists , length of residence 7-10 years, high-income earner-families, activity elder than 2 years, 80% Online-transactions within the last 12 months, family with child of full age, new houseowners, mixed building without actually known company , 300.001 to 700.000 inhabitants]
9                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      [70ies - peace movement (Avantgarde, O+W), 01.01.1935 bis 31.12.1939, Inactive, shared flat, houseowners, > 700.000  inhabitants, Package tour travelers, urban working class, single independant persons, uniformly distributed, length of residence more than 10 years, activity elder than 36 months, average earners of younger age from mulitperson households, 90% Online-transactions within the last 12 months, activity elder than 3 years]
10                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            [no transactions known, 80ies - Generation Golf (Mainstream, W), top earners , 100% Online-transactions within the last 12 months, two-generational household, low-income- and average earners of higher age from mulitperson households, Connoisseurs, wealthy single homeowners, 01.01.1940 bis 31.12.1944]

* **cases of Score -1 and 0**
     
  i) All Score value -1s in datasets should be replaced to null,  
    as the reference of attr shows that it always means unknown.

  ii) Few Score value 0s can be replaced to null if the corresponding  
    value of Meaning is in list to_null.

  iii) All other Score value 0s should be remained, as the reference  
    of attr shows value 0 is not meaning null in nearly all cases.  

  Analyses for this conclusion are in the following cells.

In [33]:
'''
when Score value is -1, the meaning is 100% unknown in reference file
'''

attr_num.query('Score < 0').Meaning.value_counts()

unknown    133
Name: Meaning, dtype: int64

In [34]:
'''
when Score value is 0, it means none in most occasion,
and there are few cases observed that the corresponding value
of Meaning is definitely equal to null
'''

attr_num.query('Score == 0').Meaning.value_counts()

none                                                136
no transactions known                                10
no Online-transactions within the last 12 months      3
unknown                                               2
no classification possible                            1
unknown / no main age detectable                      1
doesn't belong to the green avantgarde                1
classification not possible                           1
no 1-2 family homes                                   1
no 3-5 family homes                                   1
no 6-10 family homes                                  1
no >10 family homes                                   1
external supplied hedonists                           1
no score calculated                                   1
Name: Meaning, dtype: int64

In [35]:
'''
select Meaning values which seems to be definitely null,
and verify them
'''
to_null = ['unknown','no transactions known', 'no classification possible',
           'unknown / no main age detectable', 'classification not possible',
           'no score calculated'
            ]

verify_to_null = pv_verify_null(attr_num, to_null)

number of Attribute(s): 158

,Attribute,Description,Desc,Additional notes,Meaning,Score
0,AGER_TYP,best-ager typology,best-ager typology,in cooperation with Kantar TNS; the information basis is a consumer survey,"[unknown, no classification possible, passive elderly, cultural elderly, experience-driven elderly]","[-1, 0, 1, 2, 3]"
1,ALTER_HH,main age within the household,main age within the household,no_info,"[unknown / no main age detectable, 01.01.1895 bis 31.12.1899, 01.01.1900 bis 31.12.1904, 01.01.1905 bis 31.12.1909, 01.01.1910 bis 31.12.1914, 01.01.1915 bis 31.12.1919, 01.01.1920 bis 31.12.1924, 01.01.1925 bis 31.12.1929, 01.01.1930 bis 31.12.1934, 01.01.1935 bis 31.12.1939, 01.01.1940 bis 31.12.1944, 01.01.1945 bis 31.12.1949, 01.01.1950 bis 31.12.1954, 01.01.1955 bis 31.12.1959, 01.01.1960 bis 31.12.1964, 01.01.1965 bis 31.12.1969, 01.01.1970 bis 31.12.1974, 01.01.1975 bis 31.12.1979, 01.01.1980 bis 31.12.1984, 01.01.1985 bis 31.12.1989, 01.01.1990 bis 31.12.1994, 01.01.1995 bis 31.12.1999]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]"
2,BALLRAUM,distance to next urban centre,distance to next urban centre,no_info,"[unknown, till 10 km, 10 - 20 km, 20 - 30 km, 30 - 40 km, 40 - 50 km, 50-100 km, more than 100 km ]","[-1, 1, 2, 3, 4, 5, 6, 7]"
3,CAMEO_DEUG_2015,CAMEO classification 2015 - Uppergroup,CAMEO classification 2015 - Uppergroup,New German CAMEO Typology established together with Call Credit in late 2015,"[unknown, upper class, upper middleclass, established middleclasse, consumption-oriented middleclass , active middleclass , low-consumption middleclass, lower middleclass, working class, urban working class]","[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
4,CJT_GESAMTTYP,customer journey typology,customer journey typology,"relating to the preferred information, marketing and buying channels of consumers as well as their cross-channel usage. The information basis is a survey on the consumer channel preferences combined via a statistical modell with AZ DIAS data","[unknown, Advertising- and Consumptionminimalist, Advertising- and Consumptiontraditionalist, advertisinginterested Store-shopper, advertisinginterested Online-shopper, Advertising- and Cross-Channel-Enthusiast, Advertising-Enthusiast with restricted Cross-Channel-Behaviour ]","[0, 1, 2, 3, 4, 5, 6]"

In [36]:
maybe_null = ['none']

'''
check if none is also equal to null and should be added to to_nul:
none does not mean null in any case (see examples below).
'''

verify_maybe_null = pv_verify_null(attr_num, maybe_null)

number of Attribute(s): 137

,Attribute,Description,Desc,Additional notes,Meaning,Score
0,KBA05_ALTER1,share of car owners less than 31 years old,share of car owners less than 31 years old,no_info,"[none, low, average, high, very high]","[0, 1, 2, 3, 4]"
1,KBA05_ALTER4,share of cars owners elder than 61 years,share of cars owners elder than 61 years,no_info,"[none, very low, low, average, high, very high]","[0, 1, 2, 3, 4, 5]"
2,KBA05_ANHANG,share of trailers in the microcell,share of trailers in the microcell,no_info,"[none, some, some more, very many]","[0, 1, 2, 3]"
3,KBA05_CCM4,share of cars with more than 2499ccm,share of cars with more than 2499ccm,no_info,"[none, low, average, high, very high]","[0, 1, 2, 3, 4]"
4,KBA05_DIESEL,share of cars with Diesel-engine in the microcell,share of cars with Diesel-engine in the microcell,no_info,"[none, very low, low, average, high]","[0, 1, 2, 3, 4]"

In [37]:
'''
NOTE pre-processing items
'''

p_process['2.3.1-value_-1'] = 'All value -1s in datasets to be null'
p_process['2.3.1-value_0'] = 'Value 0s to be null if corresponding Meaning value is in to_null'

* **max Score values**  
  
  some Meaning values linked to max Scores seem to possibly be null.  
  However most of them are not verified as null or already in list to_null.

In [38]:
'''
extract Meaning values corresponding to max Scores
'''
# extract row indexes corresponding to max Scores of Attributes  
attr_num['Score'] = attr_num.Score.astype(float)
max_idx = attr_num.groupby('Attribute')['Score'].idxmax()

attr_num.loc[max_idx].Meaning.unique()

array(['experience-driven elderly', 'uniformly distributed',
       '01.01.1995 bis 31.12.1999', 'female', 'more than 100 km ',
       'urban working class',
       'Advertising-Enthusiast with restricted Cross-Channel-Behaviour ',
       'very high activity', 'no transactions known',
       '100% Online-transactions within the last 12 months', 'Inactive',
       'more than 999 HH/²', 'unremarkable', 'very low',
       'mixed building without actually known company ',
       'residential cell', 'without vacation',
       'belongs to the green avantgarde', 'jaunty hedonists ',
       'very low income', 'distance to the city centre > 40 km',
       'very high', 'very many', 'very high share of 1-2 family homes',
       'very high share of 3-5 family homes',
       'high share of 6-10 family homes',
       'high share of >10 family homes', 'very high car quote',
       'mainly business buildings in the microcell', 'high',
       '>=23 buildings', 'new building', 'way above average',
       'above average', 'elder than 60 years', 'since 2001', 'Asian',
       'upper class car', '2 or more preowner', 'big engine', 'some',
       'mainly very big engines', 'low',
       'building is not located in a 10 x 10km-range to a a consumption cell',
       'multi-generational household',
       'top earners at retirement age from mulitperson households',
       'high-income earners of higher age from multiperson households',
       'top earners ', 'none', 'assimilated names', 'highest  ',
       '> 700.000  inhabitants', 'unknown', 'very high share',
       'high share', 'mainly business building',
       'more than 449 buildings', 'more than 849 households',
       '90ies - ecological awareness (Avantgarde, O+W)',
       'marginal groups', 'determined Minimal-Returner',
       'lowest affinity', 'demanding shopper', 'other',
       'individualistic-accepting risks',
       'length of residence more than 10 years',
       'new building in rural neighbourhood', 'very unlikely',
       'indifferent'], dtype=object)

In [39]:
'''
select Meaning values to be checked
'''
maybe_null = ['uniformly distributed', 'no transactions known', 'Inactive', 'unremarkable',
              'unknown', 'other', 'indifferent']

# filter values in to_null
maybe_null = [i for i in maybe_null if i not in to_null]
maybe_null

['uniformly distributed', 'Inactive', 'unremarkable', 'other', 'indifferent']

In [40]:
'''
check if Meaning values of maybe_null should be added to to_nul
'''

verify_maybe_null = pv_verify_null(attr_num, maybe_null)

number of Attribute(s): 5

,Attribute,Description,Desc,Additional notes,Meaning,Score
0,ALTERSKATEGORIE_GROB,age classification through prename analysis,age classification through prename analysis,modelled on millions of first name-age-reference data,"[< 30 years, 30 - 45 years, 46 - 60 years, > 60 years, uniformly distributed]","[1.0, 2.0, 3.0, 4.0, 9.0]"
1,D19_KONSUMTYP,consumption type,consumption type,no_info,"[Universal, Versatile, Gourmet, Family, Informed , Modern, Inactive]","[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 9.0]"
2,FINANZTYP,best descirbing financial type for the person,best descirbing financial type for the person,no_info,"[unknown, low finacial interest, money saver, main focus is the own house, be prepared, Investor, unremarkable]","[-1.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0]"
3,TITEL_KZ,flag whether this person holds an academic title,flag whether this person holds an academic title,no_info,"[Dr., Dr. Dr., Prof., Prof. Dr., other]","[1.0, 2.0, 3.0, 4.0, 5.0]"
4,ZABEOTYP,typification of energy consumers,typification of energy consumers,modelled on different AZ DIAS data,"[green, smart, fair supplied, price driven, seeking orientation, indifferent]","[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]"

In [41]:
'''
form list maybe_null only inactive can be regarded as null
'''

to_null.append('Inactive')

* **data type of features with wider min/max Score gap**
  
  All features that have min/max Score gap over 10 are found to be discrete

In [42]:
'''
check features that have min/max Score gap over 10
'''
# from pv_min_max above, extract Attribute values having Score values over 7
gap_over10_attribute = attr_num_score[
    (attr_num_score['max'] - attr_num_score['min']) > 10].Attribute.unique()

gap_over10 = pv_meaning_score(
    attr_num.query('Attribute in @gap_over10_attribute'))

number of Attribute(s): 5

,Attribute,Description,Desc,Additional notes,Meaning,Score
0,ALTER_HH,main age within the household,main age within the household,no_info,"[unknown / no main age detectable, 01.01.1895 bis 31.12.1899, 01.01.1900 bis 31.12.1904, 01.01.1905 bis 31.12.1909, 01.01.1910 bis 31.12.1914, 01.01.1915 bis 31.12.1919, 01.01.1920 bis 31.12.1924, 01.01.1925 bis 31.12.1929, 01.01.1930 bis 31.12.1934, 01.01.1935 bis 31.12.1939, 01.01.1940 bis 31.12.1944, 01.01.1945 bis 31.12.1949, 01.01.1950 bis 31.12.1954, 01.01.1955 bis 31.12.1959, 01.01.1960 bis 31.12.1964, 01.01.1965 bis 31.12.1969, 01.01.1970 bis 31.12.1974, 01.01.1975 bis 31.12.1979, 01.01.1980 bis 31.12.1984, 01.01.1985 bis 31.12.1989, 01.01.1990 bis 31.12.1994, 01.01.1995 bis 31.12.1999]","[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0]"
1,GFK_URLAUBERTYP,vacation habits,vacation habits,no_info,"[Event travelers, Family-oriented vacationists, Winter sportspeople, Culture lovers, Nature fans, Hiker, Golden ager, Homeland-connected vacationists , Package tour travelers, Connoisseurs, Active families, without vacation]","[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0]"
2,LP_LEBENSPHASE_FEIN,lifestage fine,lifestage fine,modelled on different AZ DIAS data,"[single low-income earners of younger age, single low-income earners of middle age, single average earners of younger age , single average earners of middle age, single low-income earners of advanced age, single low-income earners at retirement age , single average earners of advanced age, single average earners at retirement age, single independant persons, wealthy single homeowners, single homeowners of advanced age, single homeowners at retirement age, single top earners of higher age , low-income- and average earner-couples of younger age, low-income earner-couples of higher age, average earner-couples of higher age , independant couples, wealthy homeowner-couples of younger age , homeowner-couples of higher age, top earner-couples of higher age, single parent low-income earners, single parent average earners, single parent high-income earners, low-income earner-families, average earner-families , independant families, homeowner-families, top earner-families, low-income earners of younger age from mulitperson households, average earners of younger age from mulitperson households, low-income earners of higher age from mulitperson households, average earners of higher age from mulitperson households, independant persons of younger age from mulitperson households, homeowners of younger age from mulitperson households, top earners of younger age from mulitperson households, independant persons of higher age from mulitperson households, homeowners of advanced age from mulitperson households, homeowners at retirement age from mulitperson households, top earners of middle age from mulitperson households, top earners at retirement age from mulitperson households]","[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0]"
3,LP_LEBENSPHASE_GROB,lifestage rough,lifestage rough,modelled on different AZ DIAS data,"[single low-income- and average earners of younger age , single low-income- and average earners of higher age , single high-income earners, single low-income- and average earner-couples , single high-income earner-couples, single parents, single low-income- and average earner-families, high-income earner-families, average earners of younger age from mulitperson households, low-income- and average earners of higher age from mulitperson households, high-income earners of younger age from multiperson households, high-income earners of higher age from multiperson households]","[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0]"
4,PRAEGENDE_JUGENDJAHRE,dominating movement in the person's youth (avantgarde or mainstream),dominating movement in the person's youth (avantgarde or mainstream),own typology modelled on different AZ DIAS data,"[40ies - war years (Mainstream, O+W), 40ies - reconstruction years (Avantgarde, O+W), 50ies - economic miracle (Mainstream, O+W), 50ies - milk bar / Individualisation (Avantgarde, O+W), 60ies - economic miracle (Mainstream, O+W), 60ies - generation 68 / student protestors (Avantgarde, W), 60ies - opponents to the building of the Wall (Avantgarde, O), 70ies - family orientation (Mainstream, O+W), 70ies - peace movement (Avantgarde, O+W), 80ies - Generation Golf (Mainstream, W), 80ies - ecological awareness (Avantgarde, W), 80ies - FDJ / communist party youth organisation (Mainstream, O), 80ies - Swords into ploughshares (Avantgarde, O), 90ies - digital media kids (Mainstream, O+W), 90ies - ecological awareness (Avantgarde, O+W)]","[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0]"

##### 2.3.2 attr Scores denoted in string

///// 98 features in str type are analyzed

In [43]:
'''
summary of attr_str with Meaning and Score values
'''

attr_str_score = pv_meaning_score(attr_str)

number of Attribute(s): 98

,Attribute,Description,Desc,Additional notes,Meaning,Score
0,ALTERSKATEGORIE_GROB,age classification through prename analysis,age classification through prename analysis,modelled on millions of first name-age-reference data,[unknown],"[-1, 0]"
1,ANREDE_KZ,gender,gender,no_info,[unknown],"[-1, 0]"
2,ANZ_HAUSHALTE_AKTIV,number of households in the building,number of households in the building,no_info,[numeric value (typically coded from 1-10)],[…]
3,ANZ_HH_TITEL,number of academic title holder in building,number of academic title holder in building,no_info,[numeric value (typically coded from 1-10)],[…]
4,ANZ_PERSONEN,number of adult persons in the household,number of adult persons in the household,no_info,[numeric value (typically coded from 1-3)],[…]

In [44]:
'''
As there are cases that 2 Score numbers paired have 'unknown' value of Meaning
- that has been denoted to be changed to null in the previous part -
the summary table is remade after deleting these rows.
'''

attr_str_score = pv_meaning_score(attr_str.query('Meaning != "unknown"'), display = False)
view_all(attr_str_score)

number of Attribute(s): 9

,Attribute,Description,Desc,Additional notes,Meaning,Score
0,ANZ_HAUSHALTE_AKTIV,number of households in the building,number of households in the building,no_info,[numeric value (typically coded from 1-10)],[…]
1,ANZ_HH_TITEL,number of academic title holder in building,number of academic title holder in building,no_info,[numeric value (typically coded from 1-10)],[…]
2,ANZ_PERSONEN,number of adult persons in the household,number of adult persons in the household,no_info,[numeric value (typically coded from 1-3)],[…]
3,ANZ_TITEL,number of professional title holder in household,number of professional title holder in household,no_info,[numeric value (typically coded from 1-10)],[…]
4,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classification,CAMEO classification 2015 - detailled classification,no_info,"[Work-Life-Balance, Wealthy Best Ager, Successful Songwriter, Old Nobility, City Nobility, Cottage Chic, Noble Jogger, Established gourmet, Fine Management, Career & Family, Powershopping Families, Rural Neighborhood, Secure Retirement, Family Starter, Family Life, String Trimmer, Empty Nest, Golden Ager, Younger Employees, Suddenly Family, Family First, Stock Market Junkies, Coffee Rider, Active Retirement, Jobstarter, Petty Bourgeois, Long-established, Sportgardener, Urban Parents, Frugal Aging, Journeymen, Mantaplatte, Factory Worker, Rear Window, Interested Retirees, Multi-culteral, Young & Mobile, Prefab, Town Seniors, First Shared Apartment, Temporary Workers, Afternoon Talk Show, Mini-Jobber, Socking Away]","[1A, 1B, 1C, 1D, 1E, 2A, 2B, 2C, 2D, 3A, 3B, 3C, 3D, 4A, 4B, 4C, 4D, 4E, 5A, 5B, 5C, 5D, 5E, 5F, 6A, 6B, 6C, 6D, 6E, 6F, 7A, 7B, 7C, 7D, 7E, 8A, 8B, 8C, 8D, 9A, 9B, 9C, 9D, 9E]"
5,GEBURTSJAHR,year of birth,year of birth,no_info,[numeric value],[…]
6,KBA13_ANZAHL_PKW,number of cars in the PLZ8,number of cars in the PLZ8,no_info,[numeric value],[…]
7,MIN_GEBAEUDEJAHR,year the building was first mentioned in our database,year the building was first mentioned in our database,no_info,[numeric value],[…]
8,OST_WEST_KZ,flag indicating the former GDR/FRG,flag indicating the former GDR/FRG,no_info,"[East (GDR), West (FRG)]","[O, W]"

* **findings**
  - 2 features are discrete - CAMEO_DEU_2015 and OST_WEST_KZ
  - 7 features continuous that skewness of these features should be checked for scaling.

In [45]:
'''
NOTE pre-processing items
'''

continuous_feature_list = list(
    attr_str_score[attr_str_score.Score.apply(lambda x: x == ['…'])].Attribute.unique())

p_process['2.3.2'] = 'check skewness for scaling of ' + ', '.join(continuous_feature_list)

### 3. Dataset exploration

Based on baseline understanding and frame works from reference files in section_2,  
section_3 is dealing with actual datasets.  
In this section, steps taken in the previous section will be repeated to fine-tune  
and finalize pro-processing items.

In [46]:
'''
create a concatenated dataframe of 2 datasets for temporary use
'''

concat_data = pd.concat([customers, azdias], axis=0)
concat_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1082873 entries, 0 to 891220
Columns: 369 entries, LNR to ALTERSKATEGORIE_GROB
dtypes: float64(268), int64(93), object(8)
memory usage: 3.0+ GB

#### 3.1 features in reference attr

///// For ....

In [51]:
'''
concat_intsec containing intersection features in both of datasets and attr
'''

concat_intsec = concat_data[
    list(feature_dict['customers_intsec_attr'])].copy()

concat_intsec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1082873 entries, 0 to 891220
Columns: 272 entries, KBA05_VORB2 to D19_TELKO_ANZ_12
dtypes: float64(215), int64(54), object(3)
memory usage: 2.2+ GB

**[function]** df_summary

In [62]:
def dataset_summary (data,  score_form, include = True, display = True):
    '''
    function to create the summary table of given dataframe,
    by applying describe and transpose methods
    
    data: dataframe
    score_form : str / list, dtypes of columns to be selected
    include: boolean, selection of including or excluding score_form, default as include
    display: boolean, selection of result display
    '''
    # filter data
    if include:
        data_copy = data.select_dtypes(include = score_form)
    else:
        data_copy = data.select_dtypes(exclude = score_form)
    
    # extract summary of data by applying describe and transpose
    data_summary = data_copy.describe().T.reset_index()

    # merge Desc (information on Attribute) from feature_desc and add min_max_cat
    data_summary = data_summary.rename(columns = {'index' : 'Attribute'})
    data_summary = vlookup(data_summary, feature_desc, 'Attribute', 'Desc')
    
    # add min_max_cat incase score_form in numeric
    if any(x in ['int', 'float'] for x in score_form):
        min_max_display = True
        data_summary['min_max_cat'] = data_summary[
            'min'].apply(lambda x: '{:_.0f}'.format(x)).astype(str) + ' to ' + data_summary[
            'max'].apply(lambda x: '{:_.0f}'.format(x)).astype(str)

    print (f'number of Attribute(s): {data_summary.Attribute.nunique()}')
    
    if display:
        view_all(data_summary.iloc[:5])
        
        if min_max_display:
            print ('min_max Scores:', '\n', data_summary.min_max_cat.unique())
    
    return data_summary

##### 3.1.1 numeric dataset Scores in attr

///// For ....

In [64]:
'''
intsec_num_score containing Scores denoted in number
'''

intsec_num_score = dataset_summary(concat_intsec, ['int', 'float'])

number of Attribute(s): 269

,Attribute,count,mean,std,min,25%,50%,75%,max,Desc,min_max_cat
0,KBA05_VORB2,893569.0,2.775056,1.590333,0.0,2.0,3.0,4.0,9.0,share of cars with more than two preowner,0 to 9
1,KBA13_KMH_180,925792.0,2.902252,0.973000,1.0,2.0,3.0,3.0,5.0,share of cars with max speed between 110 km/h and 180km/h within the PLZ8,1 to 5
2,VERS_TYP,1082873.0,1.136112,1.002570,-1.0,1.0,1.0,2.0,2.0,insurance typology,-1 to 2
3,KBA13_KRSAQUOT,925792.0,2.886089,1.053883,0.0,2.0,3.0,4.0,5.0,share of cars per household (referred to the county average) - PLZ8,0 to 5
4,KONSUMNAEHE,962253.0,3.035258,1.534678,1.0,2.0,3.0,4.0,7.0,distance from a building to PoS (Point of Sale),1 to 7

min_max Scores:
 ['0 to 9' '1 to 5' '-1 to 2' '0 to 5' '1 to 7' '1 to 3' '1 to 9' '0 to 11'
 '0 to 3' '1 to 4' '0 to 6' '1 to 10' '0 to 4' '1 to 8' '0 to 10'
 '1 to 12' '0 to 21' '0 to 8' '1 to 6' '0 to 15' '1 to 2' '0 to 2_300'
 '0 to 40' '0 to 595' '0 to 2' '0 to 45' '1_985 to 2_016' '0 to 1'
 '0 to 23' '0 to 12' '-1 to 3' '0 to 2_017' '0 to 7']

In [77]:
'''
check if Scores in actual datasets are within range given by attr.
'''

# merge min/max values by Attribute in attr_num_score in 2.3.1
num_range_check = vlookup(
    intsec_num_score, attr_num_score, 'Attribute', ['min', 'max', 'min_max_cat'], intsec = 'copy')

num_range_check['check'] = np.where(
    num_range_check['min_max_cat_'].isnull(), 
    'no data in attr',
    np.where(
        (num_range_check['min'] < num_range_check['min_']),
         'min lower',
         np.where((num_range_check['max'] > num_range_check['max_']),
         'max higher',
         'within min/max range')))

num_range_check.check.value_counts()

within min/max range    188
max higher               60
min lower                12
no data in attr           9
Name: check, dtype: int64

In [78]:
'''
max higher
'''
num_range_check.query('check == "max higher"')

,Attribute,count,mean,std,min,25%,50%,75%,max,Desc,min_max_cat,min_,max_,min_max_cat_,check
0,KBA05_VORB2,893569.0,2.775056,1.590333,0.0,2.0,3.0,4.0,9.0,share of cars with more than two preowner,0 to 9,0.0,5.0,0 to 5,max higher
7,KBA05_AUTOQUOT,893569.0,3.265257,1.363376,1.0,2.0,3.0,4.0,9.0,share of cars per household,1 to 9,1.0,5.0,1 to 5,max higher
9,KBA05_ZUL3,893569.0,2.810922,1.572999,0.0,2.0,3.0,4.0,9.0,share of cars built between 2001 and 2002,0 to 9,0.0,5.0,0 to 5,max higher
11,KBA05_MAXBJ,893569.0,2.468292,1.470050,1.0,1.0,2.0,4.0,9.0,most common age of the cars in the microcell,1 to 9,1.0,4.0,1 to 4,max higher
17,KBA05_KRSAQUOT,893569.0,3.148678,1.366814,1.0,2.0,3.0,4.0,9.0,share of cars per household (reffered to count...,1 to 9,1.0,5.0,1 to 5,max higher
24,KBA05_CCM3,893569.0,3.164544,1.314840,1.0,2.0,3.0,4.0,9.0,share of cars with 1800ccm to 2499 ccm,1 to 9,1.0,5.0,1 to 5,max higher
35,KBA05_KRSOBER,893569.0,2.103141,1.103680,1.0,2.0,2.0,2.0,9.0,share of upper class cars (referred to the cou...,1 to 9,1.0,3.0,1 to 3,max higher
45,KBA05_SEG10,893569.0,2.029095,1.466450,0.0,1.0,2.0,3.0,9.0,"share of more specific cars (Vans, convertable...",0 to 9,0.0,4.0,0 to 4,max higher
46,KBA05_ZUL4,893569.0,2.298145,1.697457,0.0,1.0,2.0,3.0,9.0,share of cars built from 2003 on,0 to 9,0.0,5.0,0 to 5,max higher
62,KBA05_MOTRAD,893569.0,1.176066,1.323219,0.0,0.0,1.0,1.0,9.0,share of motorcycles per household,0 to 9,0.0,3.0,0 to 3,max higher
63,KBA05_HERST1,893569.0,2.524254,1.603479,0.0,2.0,2.0,3.0,9.0,"share of top German manufacturer (Mercedes, BMW)",0 to 9,0.0,5.0,0 to 5,max higher
84,KBA05_HERSTTEMP,939798.0,2.806276,1.472203,1.0,2.0,3.0,4.0,9.0,development of the most common car manufacture...,1 to 9,1.0,5.0,1 to 5,max higher
85,KBA05_HERST3,893569.0,3.004958,1.366541,0.0,2.0,3.0,4.0,9.0,share of Ford/Opel,0 to 9,0.0,5.0,0 to 5,max higher
86,KBA05_KW1,893569.0,3.043611,1.349363,1.0,2.0,3.0,4.0,9.0,share of cars with less than 59 KW engine power,1 to 9,1.0,5.0,1 to 5,max higher
93,KBA05_HERST5,893569.0,2.880118,1.507039,0.0,2.0,3.0,4.0,9.0,"share of asian manufacturer (e.g. Toyota, Kia,...",0 to 9,0.0,5.0,0 to 5,max higher
94,KBA05_MODTEMP,939798.0,2.992346,1.254492,1.0,2.0,3.0,4.0,6.0,development of the most common car segment in ...,1 to 6,1.0,5.0,1 to 5,max higher
100,KBA05_MOD1,893569.0,1.474384,1.609973,0.0,0.0,1.0,2.0,9.0,share of upper class cars (in an AZ specific d...,0 to 9,0.0,4.0,0 to 4,max higher
101,KBA05_VORB1,893569.0,3.098860,1.301543,1.0,2.0,3.0,4.0,9.0,share of cars with one or two preowner,1 to 9,1.0,5.0,1 to 5,max higher
103,KBA05_MAXVORB,893569.0,2.169018,1.175247,1.0,1.0,2.0,3.0,9.0,most common preowner structure in the microcell,1 to 9,1.0,3.0,1 to 3,max higher
106,KBA05_MOD2,893569.0,3.084251,1.293980,1.0,2.0,3.0,4.0,9.0,share of middle class cars (in an AZ specific ...,1 to 9,1.0,5.0,1 to 5,max higher
107,KBA05_ALTER4,893569.0,2.979632,1.465321,0.0,2.0,3.0,4.0,9.0,share of cars owners elder than 61 years,0 to 9,0.0,5.0,0 to 5,max higher
109,KBA05_MAXAH,893569.0,3.449810,1.469425,1.0,2.0,3.0,5.0,9.0,most common age of car owners in the microcell,1 to 9,1.0,5.0,1 to 5,max higher
114,KBA05_SEG4,893569.0,3.096012,1.283155,1.0,2.0,3.0,4.0,9.0,share of middle class cars (Ford Mondeo etc.) ...,1 to 9,1.0,5.0,1 to 5,max higher
115,KBA05_SEG5,893569.0,1.626268,1.530813,0.0,1.0,1.0,2.0,9.0,share of upper middle class cars and upper cla...,0 to 9,0.0,4.0,0 to 4,max higher
121,KBA05_SEG2,893569.0,3.071773,1.300196,1.0,2.0,3.0,4.0,9.0,share of small and very small cars (Ford Fiest...,1 to 9,1.0,5.0,1 to 5,max higher
122,KBA05_SEG6,893569.0,0.283896,1.212382,0.0,0.0,0.0,0.0,9.0,share of upper class cars (BMW 7er etc.) in th...,0 to 9,0.0,1.0,0 to 1,max higher
128,KBA05_SEG9,893569.0,1.217115,1.399427,0.0,0.0,1.0,2.0,9.0,share of vans in the microcell,0 to 9,0.0,3.0,0 to 3,max higher
129,KBA05_KW3,893569.0,1.592153,1.577549,0.0,0.0,1.0,2.0,9.0,share of cars with an engine power of more tha...,0 to 9,0.0,4.0,0 to 4,max higher
134,KBA05_ALTER2,893569.0,3.095991,1.316282,1.0,2.0,3.0,4.0,9.0,share of car owners inbetween 31 and 45 years ...,1 to 9,1.0,5.0,1 to 5,max higher
145,KBA05_CCM2,893569.0,3.088855,1.291527,1.0,2.0,3.0,4.0,9.0,share of cars with 1400ccm to 1799 ccm,1 to 9,1.0,5.0,1 to 5,max higher
147,KBA05_VORB0,893569.0,3.020912,1.386241,1.0,2.0,3.0,4.0,9.0,share of cars with no preowner,1 to 9,1.0,5.0,1 to 5,max higher
155,KBA05_MOD3,893569.0,3.093128,1.317772,1.0,2.0,3.0,4.0,9.0,share of Golf-class cars (in an AZ specific de...,1 to 9,1.0,5.0,1 to 5,max higher
157,KBA05_MAXHERST,893569.0,2.818904,1.376266,1.0,2.0,3.0,3.0,9.0,most common car manufacturer in the microcell,1 to 9,1.0,5.0,1 to 5,max higher
158,KBA05_KRSHERST1,893569.0,3.065238,1.279526,1.0,2.0,3.0,4.0,9.0,share of Mercedes/BMW (reffered to the county ...,1 to 9,1.0,5.0,1 to 5,max higher
170,KBA05_KRSHERST3,893569.0,3.121498,1.336360,1.0,2.0,3.0,4.0,9.0,share of Ford/Opel (reffered to the county ave...,1 to 9,1.0,5.0,1 to 5,max higher
183,KBA05_KRSZUL,893569.0,2.069841,1.153126,1.0,1.0,2.0,2.0,9.0,share of newbuilt cars (referred to the county...,1 to 9,1.0,3.0,1 to 3,max higher
184,KBA05_KRSHERST2,893569.0,3.086763,1.314538,1.0,2.0,3.0,4.0,9.0,share of Volkswagen (reffered to the county av...,1 to 9,1.0,5.0,1 to 5,max higher
186,KBA05_ANHANG,893569.0,1.115444,1.387740,0.0,0.0,1.0,1.0,9.0,share of trailers in the microcell,0 to 9,0.0,3.0,0 to 3,max higher
188,KBA05_ZUL2,893569.0,3.102463,1.305627,1.0,2.0,3.0,4.0,9.0,share of cars built between 1994 and 2000,1 to 9,1.0,5.0,1 to 5,max higher
189,KBA05_SEG3,893569.0,3.056861,1.310685,1.0,2.0,3.0,4.0,9.0,share of lowe midclass cars (Ford Focus etc.) ...,1 to 9,1.0,5.0,1 to 5,max higher
191,KBA05_KW2,893569.0,3.114253,1.298926,1.0,2.0,3.0,4.0,9.0,share of cars with an engine power between 60 ...,1 to 9,1.0,5.0,1 to 5,max higher
194,KBA05_HERST2,893569.0,3.115806,1.284118,1.0,2.0,3.0,4.0,9.0,share of Volkswagen-Cars (including Audi),1 to 9,0.0,5.0,0 to 5,max higher
199,KBA05_SEG8,893569.0,0.916295,1.429489,0.0,0.0,0.0,1.0,9.0,share of roadster and convertables in the micr...,0 to 9,0.0,3.0,0 to 3,max higher
204,KBA05_FRAU,893569.0,3.108143,1.314939,1.0,2.0,3.0,4.0,9.0,share of female car owners,1 to 9,1.0,5.0,1 to 5,max higher
228,KBA05_ZUL1,893569.0,3.053233,1.305466,1.0,2.0,3.0,4.0,9.0,share of cars built before 1994,1 to 9,1.0,5.0,1 to 5,max higher
229,KBA05_MOD8,893569.0,1.389527,1.419084,0.0,0.0,1.0,2.0,9.0,share of vans (in an AZ specific definition),0 to 9,0.0,3.0,0 to 3,max higher
230,KBA05_ALTER1,893569.0,1.998553,1.496554,0.0,1.0,2.0,3.0,9.0,share of car owners less than 31 years old,0 to 9,0.0,4.0,0 to 4,max higher
231,KBA05_MAXSEG,893569.0,2.278310,1.289143,1.0,1.0,2.0,3.0,9.0,most common car segment in the microcell,1 to 9,1.0,4.0,1 to 4,max higher
233,KBA05_CCM1,893569.0,3.041530,1.318306,1.0,2.0,3.0,4.0,9.0,share of cars with less than 1399ccm,1 to 9,1.0,5.0,1 to 5,max higher
236,KBA05_MOTOR,893569.0,2.674663,1.254909,1.0,2.0,3.0,3.0,9.0,most common engine size in the microcell,1 to 9,1.0,4.0,1 to 4,max higher
237,KBA05_HERST4,893569.0,2.928726,1.463409,0.0,2.0,3.0,4.0,9.0,"share of European manufacturer (e.g. Fiat, Peu...",0 to 9,0.0,5.0,0 to 5,max higher
241,KBA05_MOD4,893569.0,2.821439,1.577187,0.0,2.0,3.0,4.0,9.0,share of small cars (in an AZ specific definit...,0 to 9,0.0,5.0,0 to 5,max higher
244,RELAT_AB,935181.0,3.045996,1.373567,1.0,2.0,3.0,4.0,9.0,share of unemployed in relation to the county ...,1 to 9,1.0,5.0,1 to 5,max higher
246,KBA05_SEG1,893569.0,1.222143,1.394110,0.0,0.0,1.0,2.0,9.0,share of very small cars (Ford Ka etc.) in the...,0 to 9,0.0,3.0,0 to 3,max higher
248,KBA05_SEG7,893569.0,0.990601,1.432083,0.0,0.0,1.0,2.0,9.0,share of all-terrain vehicles and MUVs in the ...,0 to 9,0.0,3.0,0 to 3,max higher
251,KBA05_DIESEL,893569.0,2.160252,1.384253,0.0,1.0,2.0,3.0,9.0,share of cars with Diesel-engine in the microcell,0 to 9,0.0,4.0,0 to 4,max higher
252,KBA05_ALTER3,893569.0,3.121049,1.320786,1.0,2.0,3.0,4.0,9.0,share of car owners inbetween 45 and 60 years ...,1 to 9,1.0,5.0,1 to 5,max higher
257,KBA05_KRSKLEIN,893569.0,2.110468,1.117079,1.0,2.0,2.0,2.0,9.0,share of small cars (referred to the county av...,1 to 9,1.0,3.0,1 to 3,max higher
258,KBA05_CCM4,893569.0,1.386863,1.587412,0.0,0.0,1.0,2.0,9.0,share of cars with more than 2499ccm,0 to 9,0.0,4.0,0 to 4,max higher
261,KBA05_KRSVAN,893569.0,2.124140,1.085263,1.0,2.0,2.0,2.0,9.0,share of vans (referred to the county average),1 to 9,1.0,3.0,1 to 3,max higher

within min/max range는 원래 아는데로 처리

In [75]:
'''
min_lower
'''
num_range_check.query('check == "min lower"')

,Attribute,count,mean,std,min,25%,50%,75%,max,Desc,min_max_cat,min_,max_,min_max_cat_,check
8,LP_FAMILIE_FEIN,1074806.0,3.714389,4.039212,0.0,1.0,1.0,8.0,11.0,familytyp fine,0 to 11,1.0,11.0,1 to 11,min lower
48,W_KEIT_KIND_HH,921529.0,3.966227,1.967707,0.0,2.0,4.0,6.0,6.0,likelihood of a child present in this household,0 to 6,1.0,6.0,1 to 6,min lower
66,TITEL_KZ,962778.0,0.006225,0.113330,0.0,0.0,0.0,0.0,5.0,flag whether this person holds an academic title,0 to 5,1.0,5.0,1 to 5,min lower
79,PRAEGENDE_JUGENDJAHRE,1082873.0,7.463030,4.909596,0.0,3.0,8.0,11.0,15.0,dominating movement in the person's youth (ava...,0 to 15,1.0,15.0,1 to 15,min lower
104,KBA05_BAUMAX,893569.0,1.337060,1.729856,0.0,0.0,1.0,2.0,5.0,most common building-type within the cell,0 to 5,1.0,5.0,1 to 5,min lower
124,LP_LEBENSPHASE_FEIN,1074806.0,15.246603,13.138044,0.0,4.0,12.0,28.0,40.0,lifestage fine,0 to 40,1.0,40.0,1 to 40,min lower
148,KBA05_GBZ,893569.0,3.230217,1.317291,0.0,2.0,3.0,4.0,5.0,number of buildings in the microcell,0 to 5,1.0,5.0,1 to 5,min lower
156,ORTSGR_KLS9,935181.0,5.266813,2.283347,0.0,4.0,5.0,7.0,9.0,size of the community,0 to 9,1.0,9.0,1 to 9,min lower
198,KKK,907417.0,2.551895,1.120496,0.0,2.0,3.0,3.0,4.0,purchasing power,0 to 4,1.0,4.0,1 to 4,min lower
219,LP_LEBENSPHASE_GROB,1074806.0,4.623523,4.037057,0.0,1.0,3.0,8.0,12.0,lifestage rough,0 to 12,1.0,12.0,1 to 12,min lower
222,NATIONALITAET_KZ,1082873.0,0.981980,0.579761,0.0,1.0,1.0,1.0,3.0,nationaltity (scored by prename analysis),0 to 3,1.0,3.0,1 to 3,min lower
254,REGIOTYP,907417.0,4.190798,2.043422,0.0,2.0,5.0,6.0,7.0,neighbourhood,0 to 7,1.0,7.0,1 to 7,min lower

원래 아는데로 -1을 null 처리

In [ ]:
'''
no min/max
'''
intsec_no_min_max = intsec_num_check[intsec_num_check['check'] == 'no min/max']
intsec_no_min_max

2개는 지우기로 한 것이고,
나머지는 str

In [ ]:
intsec_no_min_max = intsec_no_min_max.query('Attribute != "LP_FAMILIE_GROB" and Attribute != "LP_STATUS_GROB"')
set(intsec_no_min_max.Attribute.unique()) - set(attr_str.Attribute.unique())

동 features는 따로 살펴봄:   
여기에 아래 그래프 삽입

///// From min/max values
* min Value -1 should be replaced to NaN - noted in 2.3.1
* Most features has max values not exceeding 40 and can be regarded as discrete - checked in 2.3.3  
  Features with max values over 40 will be further analyzed below

In [ ]:
concat_stat.min_max_cat.unique()

* 3.2 detailed feature check: numeric features with max over 40 & continuous data

In [ ]:
# # extract features with max values over 40 from concat_stat
# concat_high_max = concat_stat[concat_stat['max'] > 40][['Attribute', 'Desc']]
# ft_to_check = list(concat_high_max.Attribute.unique())

# # compare list of features of high max values with list of continuos features
# # in section_2 - cont_ft in 2.3.2 
# set (cont_ft) - set(ft_to_check)

In [ ]:
# ft_to_check.extend(['ANZ_HH_TITEL', 'ANZ_TITEL'])

# view_all(concat_stat[concat_stat['Attribute'].isin(ft_to_check)])

**[function]** view_feature

In [ ]:
def view_feature (data, feature, view_all = True, view_0_10 = True):
    '''
    function to view and check continuous numeric data
    feature : str, feature name
    view_0_10 : boolean for histogram display of value 0 to 10, default as True
    '''
    # create data_stat using 
    data_stat = df_summary(data, ['int', 'float'])

    min_val = data[feature].min()
    max_val = data[feature].max()
    bin_edges = np.arange(min_val, max_val + 10, 10)
    desc_val = data_stat[data_stat['Attribute'] == feature]['Desc'].values[0]

    if view_all:
        ax = data[feature].plot(
            kind = 'hist',
            figsize=(10, 1.5),
            color='gray',
            bins = bin_edges,
            align = 'mid',
            title = ('histogram - ' + desc_val + ' - ' + feature)
            );
        ax.set_xlabel('Values - Min: ' + str(int(min_val)) + ', Max: ' + str(int(max_val)));
        plt.show()

    if view_0_10:    
        ax = data[feature].plot(
            kind = 'hist',
            figsize=(10, 1.5),
            color='gray',
            bins = np.arange(-0.5, 11.5, 1),
            align = 'mid',
            title = ('histogram - ' + desc_val + ' - Value 0 to 10')
            );
        ax.set_xlabel('Values - Min: ' + str(int(min_val)) + ', Max: ' + str(int(max_val)));
        plt.show()
    
    # define the outlier thresholds by applying multiplier 1.5
    q1 = data_stat[data_stat['Attribute'] == feature]['25%'].values[0]
    q3 = data_stat[data_stat['Attribute'] == feature]['75%'].values[0]
    iqr = q3 - q1
    lower_threshold = q1 - 1.5 * iqr
    upper_threshold = q3 + 1.5 * iqr

    # identify outliers
    col_val = data[feature].values
    outliers = sorted(
        set([feature for feature in col_val if feature < lower_threshold or feature > upper_threshold]),
        reverse = True)

    # print outliers
    count_val = data_stat[data_stat['Attribute'] == feature].fillna(0)['count'].values[0]       
    outlier_list = [
        str(int(j)) + ': ' + '{:.1%}'.format((data[feature] == j).sum() / count_val)
        for j in outliers
        ]
    
    print('Outliers (Value: %)')
    for j in range(0, len(outlier_list), 10):
        print (', '.join(outlier_list[j : j+10]))
    print ('\n')

Remaining features in ft_to_check are analyzed one by one using function view_feature above:

* ANZ_HH_TITEL  
  - No pre-processing needed: Value 0 and max value might be strange or extreme but are possible

In [ ]:
view_feature (concat_intsec, 'ANZ_HH_TITEL', False)

* GEBURTSJAHR  
  - outliers: birth year can not be 0, that Value < 1900 should be replaced to NaN

In [ ]:
view_feature (concat_intsec, 'GEBURTSJAHR')

In [ ]:
p_process['3.2-GEBURTSJAHR'] = 'replace Value < 1900 to NaN'

* ANZ_PERSONEN  
  - Value 0: a household can not have 0 person, that Value 0 should be replaced to NaN
  - outliers: household with over 10 persons is highly extreme or data error, that Value over 10 should be replaced to NaN

In [ ]:
view_feature (concat_intsec, 'ANZ_PERSONEN', False)

In [ ]:
p_process['3.2-ANZ_PERSONEN'] = 'replace Value 0 to NaN / Value > 10 to NaN'

* MIN_GEBAEUDEJAHR   
  - No pre-processing needed

In [ ]:
view_feature (concat_intsec, 'MIN_GEBAEUDEJAHR', True, False)

* ANZ_HAUSHALTE_AKTIV  
  - No pre-processing needed: Value 0 and max value might be strange or extreme but are possible
  - Log scale is needed due to high skewness

In [ ]:
view_feature (concat_intsec, 'ANZ_HAUSHALTE_AKTIV')

In [ ]:
p_process['3.2-ANZ_HAUSHALTE_AKTIV'] = '[Log scale]'

* KBA13_ANZAHL_PKW   
  - Log scale is needed due to high skewness as values over 1250 is grouped by 100

In [ ]:
view_feature (concat_intsec, 'KBA13_ANZAHL_PKW')

In [ ]:
p_process['3.2-KBA13_ANZAHL_PKW'] = '[Log scale]'

* ANZ_TITEL
  Value 0 and max value might be strange or extreme but are possible, but this feature is linked to ANZ_PERSONEN above
  - replace value to NaN if corresponding ANZ_PERSONEN is NaN

In [ ]:
view_feature (concat_intsec, 'ANZ_TITEL', False)

In [ ]:
p_process['3.2-ANZ_TITEL'] = 'replace value to NaN if ANZ_PERSONEN is NaN'

##### 3.1.2 string dataset Scores in attr

///// For ....

In [ ]:
intsec_obj = df_summary(concat_intsec, ['int', 'float'], False)
intsec_obj

In [ ]:
set(intsec_obj.Attribute.unique()) - set(attr_str.Attribute.unique())

CAMEO_DEUG_2015는 numeric이므로 identical 하지 않음을 알 수 있음

In [ ]:
'''
일단 원래 데이터를 불러와서
'''

intsec_obj_data = concat_intsec[intsec_obj.Attribute.unique()]
intsec_obj_data

In [ ]:
set(intsec_obj_data.CAMEO_DEUG_2015.unique()).difference(set(attr[attr.Attribute == 'CAMEO_DEUG_2015']['Score'].unique()))

In [ ]:
intsec_obj_data.CAMEO_DEUG_2015.unique()

In [ ]:
attr[attr.Attribute == 'CAMEO_DEUG_2015']['Score'].unique()

In [ ]:
set(intsec_obj_data.OST_WEST_KZ.unique()).difference(set(attr[attr.Attribute == 'OST_WEST_KZ']['Score'].unique()))

In [ ]:
set(intsec_obj_data.CAMEO_DEU_2015.unique()).difference(set(attr[attr.Attribute == 'CAMEO_DEU_2015']['Score'].unique()))

가이드 받은 내용과 다르며 XX, X는 null 처리

6/3 오전

#### 3.2 features NOT in reference attr

In [ ]:
excl_col = list(feature_dict['in_customers_notin_attr'])

concat_excl = concat_data[excl_col]
concat_excl.dtypes.value_counts()

##### 3.2.1 numeric dataset Scores NOT in attr

///// For ....

In [ ]:
excl_num = df_summary(concat_excl, ['int', 'float'])
excl_num.head()

In [ ]:
excl_num['min_max_cat'] = excl_num[
    'min'].apply(lambda x: '{:_.0f}'.format(x)).astype(str) + ' to ' + excl_num[
    'max'].apply(lambda x: '{:_.0f}'.format(x)).astype(str)

excl_num.min_max_cat.unique()

* max 30 이하는 위에서 살펴본 데로 처리

In [ ]:
'''
max 30 이상 검토
'''
excl_num[excl_num['max'] > 30]

**아래 항목은 다음 절로 이동**

* GEMEINDETYP   
  - No pre-processing needed, 정확한 의미는 모르겠으나 극단적 특이성은 없음

In [ ]:
view_feature (concat_excl, 'GEMEINDETYP', True, False)

* EINGEZOGENAM_HH_JAHR 
  - outliers: Eng translation is not completely understandable, but 3 outliers can be replaced to NaN

In [ ]:
view_feature (concat_excl, 'EINGEZOGENAM_HH_JAHR', True, False)

In [ ]:
concat_numeric[concat_numeric['EINGEZOGENAM_HH_JAHR'] < 1980]['EINGEZOGENAM_HH_JAHR'].count()

In [ ]:
p_process['3.2-AEINGEZOGENAM_HH_JAHR'] = 'replace Value < 1980 to NaN'

* LNR with the same count of concat_numeric seems to be the serial index of dataset, that it will be dropped.

In [ ]:
p_process['3.2'] = 'drop LNR'

* EXTSEL992   
  - No pre-processing needed

In [ ]:
view_feature (concat_excl, 'EXTSEL992')

* ANZ_STATISTISCHE_HAUSHALTE   
  - No pre-processing needed: Value 0 and max value might be strange or extreme but are possible
  - Log scale is needed due to high skewness

In [ ]:
view_feature (concat_excl, 'ANZ_STATISTISCHE_HAUSHALTE')

In [ ]:
p_process['3.2-ANZ_STATISTISCHE_HAUSHALTE'] = '[Log scale]'

* VERDICHTUNGSRAUM   
  - No pre-processing needed with Eng translation not completely understandable

In [ ]:
view_feature (concat_excl, 'VERDICHTUNGSRAUM')

**위 항목은 다음 절로 이동**

##### 3.2.2 string dataset Scores NOT in attr

///// For ....

In [ ]:
excl_obj = df_summary(concat_excl, ['int', 'float'], False)
excl_obj

In [ ]:
for i in list(excl_obj.Attribute.unique()):
    print (i, concat_excl[i].nunique(), concat_excl[i].unique())

* EINGEFUEGT_AM: date 이나 연단위로 ... 너무 많아서
* CAMEO_INTL_2015: xx nan으로

**전처리 준비작업 여기까지**

In [ ]:
# pv_min_max 2.3.1 변경 for merge
min_max_copy = pd.DataFrame(pv_min_max.to_records())
min_max_copy.columns = list(
    min_max_copy.columns[:2]) + list(eval(i)[0] for i in min_max_copy.columns[2:])
min_max_copy

In [ ]:
intsec_num_check = intsec_num.merge(
    min_max_copy.drop('Description', axis = 1),
    on = 'Attribute',
    how = 'left',
    suffixes = ('_attr', '_customer')
)
intsec_num_check.head()

In [ ]:
intsec_num_check['check'] = np.where(
    intsec_num_check['min_max_cat_customer'].isnull(), 
    'no min/max',
    np.where(
        (intsec_num_check['min_customer'] < intsec_num_check['min_attr']),
         'min lower',
         np.where((intsec_num_check['max_customer'] > intsec_num_check['max_attr']),
         'max_higher',
         'within min/max range')))

intsec_num_check['check'].value_counts()

within min/max range는 원래 아는데로 처리

In [ ]:
'''
min_lower
'''
intsec_num_check[intsec_num_check['check'] == 'min_lower']['min_customer'].value_counts()

원래 아는데로 -1을 null 처리

In [ ]:
'''
no min/max
'''
intsec_no_min_max = intsec_num_check[intsec_num_check['check'] == 'no min/max']
intsec_no_min_max

2개는 지우기로 한 것이고,
나머지는 str

In [ ]:
intsec_no_min_max = intsec_no_min_max.query('Attribute != "LP_FAMILIE_GROB" and Attribute != "LP_STATUS_GROB"')
set(intsec_no_min_max.Attribute.unique()) - set(attr_str.Attribute.unique())

동 features는 따로 살펴봄:   
여기에 아래 그래프 삽입

In [ ]:
'''
dataset excl
'''

excl_col = list(feature_dict['in_customers_notin_attr'])

concat_excl = concat_data[excl_col]
concat_excl.shape

In [ ]:
excl_num = df_summary(concat_excl, ['int', 'float'])
print (excl_num.shape)
excl_num.head()

In [ ]:
excl_num['min_max_cat'] = excl_num[
    'min'].apply(lambda x: '{:_.0f}'.format(x)).astype(str) + ' to ' + excl_num[
    'max'].apply(lambda x: '{:_.0f}'.format(x)).astype(str)

excl_num.min_max_cat.unique()

In [ ]:
excl_num[excl_num['max'] > 7]

#### 3.1 features with numeric Score form

///// For numeric features, concat_numeric including int and float type data is created.

In [ ]:
concat_num = concat_data.select_dtypes(include = ['int', 'float']).copy()
concat_num.shape

**[function]** df_summary

In [ ]:
def df_summary (data, score_form):
    '''
    aaa
    '''
    # filter and copy data
    data_copy = data.select_dtypes(include = score_form).copy()
    
    # extract summary of data by applying describe and transpose
    data_summary = data_copy.describe().T.reset_index()

    # merge Desc (information on Attribute) from feature_desc and add min_max_cat
    data_summary = data_summary.rename(columns = {'index' : 'Attribute'})
    data_summary = vlookup(data_summary, feature_desc, 'Attribute', 'Desc')
    
    return data_summary

In [ ]:
'''
dataset excl
'''

excl_col = list(feature_dict['in_customers_notin_attr'])

concat_excl = concat_data[excl_col]
concat_excl.shape

In [ ]:
excl_num = df_summary(concat_excl, ['int', 'float'])
print (excl_num.shape)
excl_num.head()

In [ ]:
excl_num['min_max_cat'] = excl_num[
    'min'].apply(lambda x: '{:_.0f}'.format(x)).astype(str) + ' to ' + excl_num[
    'max'].apply(lambda x: '{:_.0f}'.format(x)).astype(str)

excl_num.min_max_cat.unique()

In [ ]:
excl_num[excl_num['max'] > 7]

#### 3.1 features with numeric Score form

///// For numeric features, concat_numeric including int and float type data is created.

In [ ]:
concat_numeric = concat_data.select_dtypes(include = ['int', 'float']).copy()
concat_num = concat_numeric.copy()
concat_num.shape

///// And concat_num with the summary statistics is formed.

##### 3.3 str values

///// extract 8 features in str type

In [ ]:
concat_string = concat_data.select_dtypes(exclude = ['int', 'float'])
concat_str = concat_string.copy()
concat_str.shape

In [ ]:
# extract summary of concat_string by applying describe and transpose
concat_summary = concat_str.describe().T.reset_index()

# merge Desc (information on Attribute) from feature_desc
concat_summary = concat_summary.rename(columns = {'index' : 'Attribute'})
concat_summary = vlookup(concat_summary, feature_desc, 'Attribute', 'Desc')
concat_summary

///// type EINGEFUEGT_AM should be changed to datetime with only year value to avoid excessively huge size

In [ ]:
concat_str = concat_str.drop('EINGEFUEGT_AM', axis = 1)
p_process['3.3.2'] = 'change type of EINGEFUEGT_AM to datetime of year'

In [ ]:
# extract values of Attribute in list
concat_str_values = pd.DataFrame(
    {'Attribute': concat_str.columns,
     'Score_val': concat_str.values.T.tolist()})
concat_str_values['Score_val'] = concat_str_values['Score_val'].apply(
    lambda x: list(pd.Series(x).drop_duplicates().dropna()))

# merge Desc (information on Attribute) from feature_desc and add min_max_cat
concat_str_values = vlookup(concat_str_values, feature_desc, 'Attribute', ['Desc', 'Additional notes'])

view_all(concat_str_values)

**그냥 여기서 보고 처리하는 것이 나을 듯**

In [ ]:
pv_attr_str_compare = pd.DataFrame(pv_attr_str.to_records())

In [ ]:
pv_attr_str_compare = pv_attr_str
concat_str_compare = vlookup(concat_str_values, pv_attr_str_compare, 'Attribute', 'Score', 'not_in_attr')
concat_str_compare

In [ ]:
view_all(concat_str_compare)

In [ ]:
attr_num[attr_num['Attribute'] == 'CUSTOMER_GROUP']

In [ ]:
concat_str_compare[concat_str_compare['Attribute'] == 'CAMEO_DEU_2015']['Score_val'].values

**23.05.31**

In [ ]:
concat_str_compare['Score_compare'] = [list(a - b) for a, b in zip(
    concat_str_compare['Score_val'], concat_str_compare['Score'])]

In [ ]:
concat_numeric = concat_data.select_dtypes(include = ['int', 'float']).copy()
concat_num = concat_numeric.copy()
concat_num.shape

///// And concat_num with the summary statistics is formed.

In [ ]:
# extract summary statistics of concat_numeric by applying describe and transpose
concat_stat = concat_num.describe().T.reset_index()

# merge Desc (information on Attribute) from feature_desc and add min_max_cat
concat_stat = concat_stat.rename(columns = {'index' : 'Attribute'})
concat_stat = vlookup(concat_stat, feature_desc, 'Attribute', 'Desc')
concat_stat['min_max_cat'] = concat_stat[
    'min'].apply(lambda x: '{:_.0f}'.format(x)).astype(str) + ' to ' + concat_stat[
    'max'].apply(lambda x: '{:_.0f}'.format(x)).astype(str)

concat_stat.head()

In [ ]:
p_process['3.3.2-XX'] = 'replace Value X, XX to NaN'

### 4. Pre-processing

In [ ]:
p_process = {'pre_processing_itmes' : p_process}
p_process_items = pd.DataFrame(p_process).reset_index()
p_process_items

**그 다음에 Preprocessing을 하고 나면 (필요시 극히 비슷한 컬럼 제외),   
Imputing, Scaling 하면 PCA, Clustering, 앙상블로 나갈 수 있음**

# **STOP**

In [ ]:
stop

[function] miss_val_summary

In [ ]:
def miss_val_summary(df, axis_val, x_bin = 2, bar_chart = True):
    '''
    function to display summary, bar-chart (optional) and histogram
    of missing value by column or raw
    df: dataframe
    axis_val: str, one of 'column' or 'row'
    x_bin: size of x bin, 10 as default
    bar_chart: option of bar chart display 
    '''
    # index of axis
    axis_idx = 0 if axis_val == 'column' else 1
    
    # % of missing values
    missing_pct = df.isnull().mean(axis = axis_idx) * 100
    df_desc = missing_pct.describe()

    # summary of missing value
    print (
        '% of missing value in ' + str(int(df_desc[0])) + ' ' + axis_val + 's of ' + df.name)
    print (df_desc[1:].to_string())
    
    # bar-chart of missing value
    if bar_chart:
        missing_pct.plot(
            kind = 'bar', figsize=(10, 3), color='gray',
            
            title = ('bar chart - ' + df.name + ': missing value by ' + axis_val),
            ylabel = '% of missing value',
            xlabel = (str(int(df_desc[0])) + ' columns'),
            xticks = [],
            );
        plt.show()
    
    # hist of missing value
    x_range = ((df_desc[-1] + 10) // 10) * 10 + x_bin
    ax = missing_pct.plot(
        kind = 'hist', figsize=(10, 3), color='gray',
        
        bins = np.arange(0, x_range, x_bin),
        title = ('histogram - ' + df.name + ': missing value by ' + axis_val)
        )
    ax.set_xlabel('% of missing value');
    plt.show()

In [ ]:
'''
missing value by columns of azdias
'''

miss_val_summary(azdias, 'column')

In [ ]:
'''
missing value by column
'''

miss_val_summary(customers, 'column')

#### 1.5 alignment of features   
as values of data files (azdias & customers) can be readable by explanations of information files (info & attr),   
check alignment in column features of data files and equivalent values of column Attribute of information files at first

> 합쳐서 데이터 분석시 참조
> 93 데이터에만 있는 Attr은 어떻게 할 것인가?
> 데이터 파일에 없고 정보 파일에만 있는 51 Attr은 제외하여 simplify 함

### 2. Data exploration

#### 2.1 feature description
As the data sets do not have information on what each feature (column name) exactly means,   
values of information files (info & attr) should be mapped to the features at first,   
to see how the data sets are structured.

In [ ]:
'''
to know what features datasets have, add information to column names of customers
'''

feature_desc = pd.DataFrame(customers.columns, columns=['Attribute'])
feature_desc = vlookup(feature_desc, info, 'Attribute')

'''
df_feature has 369 unique Attribute values:
105 exclusive values of customers and 264 shared values with customers
(see 1.5 alignment of features)
''' 
print ('Attributes missing Description:', feature_desc[feature_desc.Description.isna()].shape[0])
print (feature_desc.shape)
feature_desc.head()

In [ ]:
'''
To enhance readability of data set - over 100 features are without description -   
I added 14 Description values from attr, and made a column of translation   
(ger_to_eng) to df_feature using code below.
However as this code-running takes somewhat long time, I saved the dataframe processed
as df_feature.xlsx in root folder
'''

# # For values of Attribute without Description, add 14 Description values from attr
# df_feature.set_index('Attribute', inplace = True)

# attr_excl = attr[attr.Attribute.isin(attr_Attr - info_Attr)][['Attribute', 'Description']].copy()
# attr_excl.set_index('Attribute', inplace = True)
# df_feature.update(attr_excl)

# df_feature.reset_index(inplace = True)

# # For values of Attribute without Description, make colum of translation (ger_to_eng)
# def ger_to_eng (ger_text):
#     '''
#     function to translate German text
#     '''    
#     translator = Translator(service_urls=['translate.google.com'])    
#     try:
#         translation = translator.translate(ger_text, src='de', dest='en')
#         return translation.text        
#     except:
#         return np.nan

# df_feature['ger_to_eng'] = np.where(
#     df_feature.Description.isnull(),
#     df_feature.Attribute.str.replace('_', ' ').apply(ger_to_eng),
#     np.nan)
# df_feature['Desc'] = df_feature.Description.fillna('') + df_feature.ger_to_eng.fillna('')

feature_desc = pd.read_excel('feature_desc.xlsx', index_col = [0])
feature_desc.head(10)

print ('Attributes missing Desc:', feature_desc[feature_desc.Desc.isna()].shape[0])
print (feature_desc.shape)
feature_desc.head()

In [ ]:
'''
find all features one by one
'''

# # not to run

# view_all(feature_desc)

In [ ]:
list(set(attr.Attribute.unique()) - set(feature_desc.Attribute.unique()))

In [ ]:
diff = (list(set(attr.Attribute.unique()) - set(feature_desc.Attribute.unique())))
len(diff)

In [ ]:
short_df = attr.iloc[:, :2].drop_duplicates()

In [ ]:
short_df[short_df.Attribute.isin(diff)]

In [ ]:
attr[attr.iloc[:, :2].drop_duplicates().Attribute.isin(diff)]

> 살펴 봤음. 모든 Attribute에 대해서 Description을 completely 이해할 수는 없었으나   
> 대체적인 내용 구성을 이해할 수는 있었음   
> 비슷한 내용을 나타내는 중복열, 유사열이 많아 공선성 해소, 차원 축소가 필요함

#### 2.2 data values
The values of the data sets can also be readable by mapping values of Value and Meaning of attr.   
In this section, 데이터 종류 (연속/이산), 이상치, 사실상의 null value 등 데이터 전처리를 위한 데이터의 내용적 측면을 점검하겠음.

In [ ]:
'''
check types of values of attr Value, which contains information on data values
'''

attr['Value_dtype'] = attr.Value.map(type)
print (attr.Value_dtype.value_counts())

# attr['Meaning_dtype'] = attr.Meaning.map(type)
# print (attr.Meaning_dtype.value_counts())

##### 2.2.1 attr의 int 데이터

1.5에서 살펴본 바와 같이 272개 피쳐는 attr을 통해 설명이 가능함 (물론 이것도 데이터를 따로 파악해 봐야 하나)    
데이터 셋을 직접 살펴 보는 것은 뒤에 별도록 진행하고 우선 attr을 분석하여 데이터 내용이 어떻게 구성되어 있는지 Basis를 확보해야 함.   

2113개의 정수 값이고, 145개는 object로 정수 값으로 정의된 value를 먼저 점검해 보겠음.

* numeric data of column Value

In [ ]:
'''
numeric data of column Value
'''
# attr_num with only numeric values in Value
attr_num = attr[attr['Value_dtype'] == int].copy()
print (attr_num.shape) 

# add Desc and Information level
attr_num = vlookup(attr_num, feature_desc, 'Attribute', ['Desc', 'Additional notes'])
print (attr_num.info())
attr_num.head()

In [ ]:
'''
customers에는 없고 attr에만 있는 42개 Attribute는 Desc가 없으으로
(1.5 alignment) desc가 null이 아닌 행만 keep
'''

print ('customers에는 없고 attr에만 있는 42개 Attribute 수:', 
       attr_num[attr_num.Desc.isna() == True].Attribute.nunique(),
       '\n')

attr_num = attr_num[attr_num.Desc.isna() == False]
print (attr_num.info())

In [ ]:
'''
numeric data of column Value where 1774 rows have data in int type 으로
pivot을 돌려 int type Value가 어떤 min max 값을 가지는 지 정리함.
이를 통해 각 feature의 data type을 추정하고, 효과적으로 비정상 값을 찾아내려 함
'''

# summary of numeric data of Value
pv_attr_num = pd.pivot_table(
    attr_num,
    index = ['Attribute', 'Desc'],
    values = 'Value',
    aggfunc = [min, max]
    )

pv_attr_num['min_max_cat'] = pv_attr_num['min'].astype(str) + ' to ' + pv_attr_num['max'].astype(str)
pv_attr_num = pv_attr_num.sort_values(by = 'min_max_cat')

print (
    'min_max category of numeric data in column Value', '\n',
    pv_attr_num.min_max_cat.value_counts())
pv_attr_num.head()

In [ ]:
'''
find all numeric data of column Value one by one
'''

# # not to run

# with pd.option_context(
#     'display.max_rows', None, 'display.max_colwidth', None):
#     display(pv_attr_num)

> 1. value -1, 0의 경우 null 또는 -inf에 상응하는 데이터가 있는지  
> 2. max가 7까지는 descrete, 8 이상은 continue 인지 봐야하고 Max의 null 또는 -inf에 상응하는 데이터가 있는지
> 3. binary cells

In [ ]:
'''
1. value -1, 0의 경우 null 또는 -inf에 상응하는 데이터가 있는지 
'''
attr_below_1 = attr_num[attr_num.Value < 1]
print(attr_below_1.shape)
attr_below_1.Meaning.unique()

In [ ]:
'''
위 값 중 null 가능성이 있는 값만 추려 본결과
'''

maybe_null = ['unknown',
              'no classification possible',
              'unknown / no main age detectable',
              'no transactions known', 
              'no transaction known', 
              'classification not possible',
              'none',
              'no score calculated'
              ]

attr_below_1 = attr_below_1[attr_below_1.Meaning.isin(maybe_null)].sort_values(by = 'Meaning')
print(attr_below_1.shape)
attr_below_1

In [ ]:
# # not to run

# view_all(attr_below_1)

> Meaning이 maybe_null 이면 모두 nan 처리

In [ ]:
'''
2. max가 7까지는 descrete, 8 이상은 continue 인지 봐야하고 Max의 null 또는 -inf에 상응하는 데이터가 있는지
'''

# pv_attr_num에서 max가 7보다 큰 Attr을 추출함
max_over_7_Attr = pv_attr_num[pv_attr_num[('max', 'Value')] > 7].index.get_level_values(0)
# view_all(attr_num[attr_num.Attribute.isin(max_over_7_Attr)])
max_over_7 = attr_num[attr_num.Attribute.isin(max_over_7_Attr)]
pv_max_over_7 = pd.pivot_table(
    max_over_7,
    index = 'Attribute',
    values = 'Meaning',
    aggfunc = lambda x: list(x)
    )

In [ ]:
view_all(pv_max_over_7)

> no continuous data detected, 그러나 최대값에 maybe null이 보임

In [ ]:
max_over_7['Value'] = pd.to_numeric(max_over_7['Value'], errors='coerce')

max_over_7_idxmax = max_over_7.groupby('Attribute')['Value'].idxmax()

max_over_7.loc[max_over_7_idxmax, 'Meaning'].unique()

> maybe_null에 'uniformly distributed', ... 추가

In [ ]:
''' 
3. binary cells
'''

# pv_attr_num에서 max가 4보다 작은 Attr을 추출함
max_under_4_Attr = pv_attr_num[pv_attr_num[('max', 'Value')] < 4].index.get_level_values(0)
# view_all(attr_num[attr_num.Attribute.isin(max_over_7_Attr)])
max_under_4 = attr_num[attr_num.Attribute.isin(max_under_4_Attr)]
pv_max_under_4 = pd.pivot_table(
    max_under_4,
    index = 'Attribute',
    values = 'Meaning',
    aggfunc = lambda x: list(x)
    )

In [ ]:
view_all(pv_max_under_4)

> 뭐뭐뭐가 이진으로 전처리

##### 2.2.2 attr의 str 데이터

In [ ]:
'''
str data of column Value
'''
# attr_num with only numeric values in Value
attr_str = attr[attr['Value_dtype'] == str].copy()
print (attr_str.shape) 

# add Desc and Information level
attr_str = vlookup(attr_str, feature_desc, 'Attribute', ['Desc', 'Additional notes'])
print (attr_str.info())
attr_str.head()

In [ ]:
# attr_str[attr_str.Desc.isna() == True] # int와 str을 모두 갖는 셀. 따라서 42는 맞음.... 이 별로 중요하지도 않은 것을 남겨야 하나...

In [ ]:
'''
3개 null attribute는 정수와 문자를 모두 값을로 갖는 것들로 42개는 유효하고
이 42개는 다음 section에서 볼 예정이므로 (1.5 alignment) desc가 null이 아닌 행만 keep
'''

# attr_str[attr_str.Desc.isna() == True] # int와 str을 모두 갖는 셀. 따라서 42는 맞음.... 이 별로 중요하지도 않은 것을 남겨야 하나...

attr_str = attr_str[attr_str.Desc.isna() == False]
print (attr_str.info())

In [ ]:
'''
pivot을 돌려 attribute 별로 어떤 str 값을 가지는 지 정리함.
이를 통해 각 feature의 data type을 추정하고, 효과적으로 비정상 값을 찾아내려 함
'''

pv_attr_str = pd.pivot_table(
    attr_str,
    index = ['Attribute', 'Desc', 'Meaning'],
    values = 'Value',
    aggfunc = lambda x: x
    )

pv_attr_str.head(10)
# view_all(pv_attr_str)

> 1. unknown을 표현하는 경우, drop에 포함    
> 2. 연속형 수치를 표현하는 경우 ... 이는 data set을 직접 보고 파악해야 함

In [ ]:
'''
순수하게 str인 경우만 추출
'''
# pv_attr_str = pd.DataFrame(pv_attr_str.to_records())

In [ ]:
# attr_str_to_check = pv_attr_str[pv_attr_str.Meaning.str.contains('numeric value')].Attribute
attr_str_to_check = pv_attr_str[
    pv_attr_str.index.get_level_values(2).str.contains('numeric value')].index.get_level_values(0)
# 먼저 추후 체크할 것들을 뽑아 놓고
attr_str_to_check

In [ ]:
pv_attr_str = pd.DataFrame(pv_attr_str[
    ~(pv_attr_str.index.get_level_values(0).isin(attr_str_to_check))
    &~(pv_attr_str.index.get_level_values(2) == 'unknown')
    ].to_records())

pv_attr_str = pd.pivot_table(
    pv_attr_str,
    index = ['Attribute', 'Desc'],
    values = 'Value',
    aggfunc = lambda x: list(x)
    )

view_all(pv_attr_str)

> CAMEO_DEU_2015 정상적인 카테고리 데이터... 피쳐   
> OST_WEST_KZ은 2진

##### 2.2.3 customers에만 있는 데이터

**상당히 해깔리게 되어 있는데, 데이터의 컬럼과 정보 파일의 Attribute 숫자를 좀 정확하게 정리하고   
하던데로 커스터머에만 있는 데이터를 정리하면 Wrangling이 끝남**

**그 다음에 Preprocessing을 하고 나면 (필요시 극히 비슷한 컬럼 제외),   
Imputing, Scaling 하면 PCA, Clustering, 앙상블로 나갈 수 있음**

#### 2-1. attributes_xlsx

In [ ]:
col_val(attributes_xlsx)

In [ ]:
w_list = list(attributes_xlsx.Meaning.unique())

In [ ]:
nltk.download('wordnet')

In [ ]:
ambiguous_words = []

for synset in w_list:
    if len(synset.lemmas()) > 1:
        ambiguous_words.append(synset.name().split('.')[0])

In [ ]:
list(wordnet.all_synsets())

In [ ]:
synsets = wordnet.synsets('unknown')
synsets

In [ ]:
synonyms = []

for synset in synsets:
    for lemma in synset.lemmas():
        synonyms.append(lemma.name())
synonyms

In [ ]:
import nltk
from nltk.corpus import wordnet

nltk.download('wordnet')

# Define the target word
target_word = 'unidentified'

# Retrieve synsets for the target word
synsets = wordnet.synsets(target_word)

# # Retrieve synonyms for each synset and filter out synonyms containing the target word
# filtered_synonyms = []

# for synset in synsets:
#     synonyms = synset.lemmas()
#     filtered_synonyms.extend([synonym.name() for synonym in synonyms if target_word not in synonym.name()])

# # Remove duplicate synonyms and sort the list
# filtered_synonyms = sorted(set(filtered_synonyms))

# print(filtered_synonyms)

In [ ]:
filtered_synonyms = []

for synset in synsets:
    synonyms = synset.lemmas()
    filtered_synonyms.extend([synonym.name() for synonym in synonyms if target_word not in synonym.name()])

# Remove duplicate synonyms and sort the list
filtered_synonyms = sorted(set(filtered_synonyms))

print(filtered_synonyms)

In [ ]:
for target_word in filtered_synonyms:
    # # Define the target word
    # target_word = 'unidentified'

    # Retrieve synsets for the target word
    synsets = wordnet.synsets(target_word)

    for synset in synsets:
        synonyms = synset.lemmas()
        filtered_synonyms.extend([synonym.name() for synonym in synonyms if target_word not in synonym.name()])

    # Remove duplicate synonyms and sort the list
    filtered_synonyms = sorted(set(filtered_synonyms))

print(filtered_synonyms)

In [ ]:
# customers

print (customers.info())
customers.head()

In [ ]:
# attributes_xlsx

print (attributes_xlsx.info())
attributes_xlsx.head(10)

In [ ]:
# modify attributes_xlsx

attributes_xlsx = attributes_xlsx.iloc[:, 1:] # 1st column has no info
attributes_xlsx[['Attribute', 'Description']] = attributes_xlsx[
    ['Attribute', 'Description']].fillna(method = 'ffill')
print (attributes_xlsx.info())
attributes_xlsx.head(10)

In [ ]:
# information_xlsx

print (information_xlsx.info())
information_xlsx.head()

## Part 1: Customer Segmentation Report

The main bulk of your analysis will come in this part of the project. Here, you should use unsupervised learning techniques to describe the relationship between the demographics of the company's existing customers and the general population of Germany. By the end of this part, you should be able to describe parts of the general population that are more likely to be part of the mail-order company's main customer base, and which parts of the general population are less so.

## Part 2: Supervised Learning Model

Now that you've found which parts of the population are more likely to be customers of the mail-order company, it's time to build a prediction model. Each of the rows in the "MAILOUT" data files represents an individual that was targeted for a mailout campaign. Ideally, we should be able to use the demographic information from each individual to decide whether or not it will be worth it to include that person in the campaign.

The "MAILOUT" data has been split into two approximately equal parts, each with almost 43 000 data rows. In this part, you can verify your model with the "TRAIN" partition, which includes a column, "RESPONSE", that states whether or not a person became a customer of the company following the campaign. In the next part, you'll need to create predictions on the "TEST" partition, where the "RESPONSE" column has been withheld.

In [ ]:
mailout_train = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TRAIN.csv', sep=';')

Work / Ref

In [ ]:
# def col_val (df):
#     '''
#     function to check values of dataframe columns
#     df : dataframe
#     '''
#     # for i in df.columns:
#     #     print (i, '-', df[i].nunique(), 'values', '\n',
#     #         df[i].value_counts(), '\n', '*     *     *')
#     for i in df.columns:
#         print (i, '-', df[i].nunique(), 'values', '\n',
#         list(df[i].unique()), '\n', '*     *     *')

In [ ]:
# # from googletrans import Translator

# # Create an instance of the Translator
# translator = Translator(service_urls=['translate.google.com'])

# # Text to be translated
# text = "AGER_TYP"

# # Translate the text from German to English
# translation = translator.translate(text, src='de', dest='en')

# # Print the translated text
# print("Original text (German):", text)
# print("Translated text (English):", translation.text)

In [ ]:
# def miss_val_hist(df, axis_val, x_bin = 10):
#     '''
#     function to display missing value histogram by column or raw
#     df: dataframe
#     axis_val: str, one of 'column' or 'row'
#     x_bin: size of xtick bin, 10 as default 
#     '''
#     # axis value
#     axis_num = 0 if axis_val == 'column' else 1
    
#     # % of missing values
#     missing_pct = df.isnull().mean(axis = axis_num) * 100

#     # max % of missing values by column
#     missing_pct_max = missing_pct.max()
#     print ('max % of missing values by ' + axis_val + ': ', missing_pct_max)

#     # plot missing values by column
    
#     print (missing_pct.describe())
    
#     x_range = ((missing_pct_max + x_bin * 2) // x_bin) * x_bin

#     ax = missing_pct.plot(
#         kind = 'hist', figsize=(10, 3), color='gray',
#         bins = np.arange(0, x_range, 10),
#         title = (df.name + ': missing value by ' + axis_val)
#         )
#     ax.set_xlabel('% of missing value');

In [ ]:
# 파이써닉 하지 못한 코드
# # missing value overview
# for i in range(0, ((azdias.shape[1] + 100) // 100) * 100, 100):
#     msno.matrix(azdias.iloc[:, i : i + 99],
#                 figsize=(10, 3), fontsize = 12, labels = False, sparkline = False)
#     plt.title('missing value overview: col ' + str (i) + ' to ' + str (min(i + 99, azdias.shape[1] - 1)),
#               fontsize = 12);

In [ ]:
# # % of columns with missing values of over 30%
# (azdias.isnull().mean() * 100 > 30).mean()

In [ ]:
# # % of columns with missing values of 25% to 30%
# ((azdias.isnull().mean() * 100 > 25) & (30 >= azdias.isnull().mean() * 100)).mean()

In [ ]:
# 아마도 쓰지 않을 plot
# plot = azdias_col_missing_pct.plot(
#     kind = 'bar', figsize=(10, 3), color='dimgray', xticks = [],
#     title = 'azdias_col_missing_pct',
#     xlabel = '366 columns',
#     ylabel = '% of missing values')

In [ ]:
# num_df = customers.select_dtypes(include=['float', 'int64']).iloc[:, 1:]
# num_df.head()

In [ ]:
# len(pd.unique(customers.select_dtypes(include='float').values.flatten()).tolist())

In [ ]:
# with pd.option_context(
#     'display.max_rows', None, 'display.max_colwidth', None):
#     display(pd.DataFrame(attr.apply(lambda x: x.unique())))

In [ ]:
# attr_not_null = ~(attr.Attribute.isna())
# attr.loc[attr_not_null, 'Description'] = attr.loc[
#     attr_not_null, 'Description'] + ' ' + attr.loc[attr_not_null, 'desc_shift']

# desc_to_null = (attr.Attribute.isna()) & ~(attr.Description.isna())
# attr.loc[desc_to_null, 'Description'] = np.nan
# attr = attr.drop(columns = 'desc_shift')
# attr.loc[attr_with_value.shift(-1, fill_value = True), 'Description']
# attr_shift = attr_null.shift
# attr[attr_null.shift, 'Description'] = attr.loc[
#     attr_null.shift(fill_value = False), 'Description'] + ' ' + attr[attr_null, 'Description']

In [ ]:
# '''
# to 313 rows of Attribute in info, add 15 values exclusively in attr,
# and remove 52 values exclusively in information files
# '''

# info_mg = info.iloc[:, 1:].copy()
# info_mg = info_mg.applymap(lambda x: x.strip().lower() if isinstance(x, str) else x)
# # attr_excl = attr[attr.Attribute.isin(attr_excl)].copy()
# attr_not_null = attr.dropna(subset = 'Attribute').copy()
# attr_not_null = attr_not_null.applymap(lambda x: x.strip().lower() if isinstance(x, str) else x)

# info_mg = pd.concat(
#     [info_mg, attr_not_null[['Attribute', 'Description']]],
#     ignore_index  = True,
#     axis = 0
#     )
# info_mg = info_mg.drop_duplicates(subset = ['Attribute', 'Description'])
# info_mg = info_mg.sort_values(by = list(info_mg.columns), ascending=False)
# # info_mg = info_mg.drop_duplicates(subset='Attribute')

# info_mg = info_mg[~(info_mg.Attribute.isin(infofile_excl))]

# print(info_mg.info())
# info_mg.head()

In [ ]:
# '''
# to 313 rows of Attribute in info, add 15 values exclusively in attr,
# and remove 52 values exclusively in information files
# '''

# info_mg = info.iloc[:, 1:].copy()
# attr_excl = attr[attr.Attribute.isin(attr_excl)][['Attribute', 'Description']].copy()

# info_mg = pd.concat(
#     [info_mg, attr_excl],
#     ignore_index  = True,
#     axis = 0
#     )
# info_mg = info_mg.drop_duplicates(subset = ['Attribute', 'Description'])
# # info_mg = info_mg.sort_values(by = list(info_mg.columns), ascending=False)
# # # info_mg = info_mg.drop_duplicates(subset='Attribute')

# info_mg = info_mg[~(info_mg.Attribute.isin(infofile_excl))]

# print(info_mg.info())
# info_mg.head()

In [ ]:
# view_all(info_mg)

In [ ]:
# '''
# to 2258 rows of Attribute in attr, add 13 values exclusively in info,
# and remove 52 values exclusively in information files
# '''

# attr_mg = attr.copy()
# info_excl = info[info.Attribute.isin(info_excl)][['Attribute', 'Description']].copy()
# info_excl['Value'] = 'form info'
# info_excl['Meaning'] = 'form info'

# attr_mg = pd.concat(
#     [attr_mg, info_excl],
#     ignore_index  = True,
#     axis = 0
#     )
# # info_mg = info_mg.drop_duplicates()

# # info_mg = info_mg[~(info_mg.Attribute.isin(infofile_excl))]

# print(attr_mg.info())
# attr_mg.head()

In [ ]:
# attr_mg.tail(30)

In [ ]:
# '''
# there are 93 and 51 exclusive values in data and information files
# '''

# datafile_Attr = azdias_Attr.union(customers_Attr)
# infofile_Attr = info_Attr.union(attr_Attr)

# datafile_excl = datafile_Attr - infofile_Attr
# infofile_excl = infofile_Attr - datafile_Attr

# print (len(datafile_excl), 'Attribute value(s) exclusively in data files:',
#        '\n', datafile_excl)
# print (len(infofile_excl), 'Attribute value(s) exclusively in information files:',
#        '\n', infofile_excl)

In [ ]:
# 불필요 한 것으로 보임
# '''
# fill null cells as only 1st lines of information have values
# '''

# info['Information level'] = info['Information level'].fillna(method = 'ffill')

# info.head()

In [ ]:
# 불필요 한 것으로 보임
# '''
# fill null cells as only 1st lines of information have values
# '''

# attr[['Attribute', 'Description']] = attr[
#     ['Attribute', 'Description']].fillna(method = 'ffill')

# attr.head(10)

In [ ]:
# '''
# To enhance readability of data set - over 100 features are without description -   
# I added 14 Description values from attr, and made a column of translation   
# (ger_to_eng) to df_feature using code below.
# However as this code-running takes somewhat long time, I saved the dataframe processed
# as df_feature.xlsx in root folder
# '''

# # For values of Attribute without Description, add 14 Description values from attr
# df_feature.set_index('Attribute', inplace = True)

# attr_excl = attr[attr.Attribute.isin(attr_Attr - info_Attr)][['Attribute', 'Description']].copy()
# attr_excl.set_index('Attribute', inplace = True)
# df_feature.update(attr_excl)

# df_feature.reset_index(inplace = True)

# # For values of Attribute without Description, make colum of translation (ger_to_eng)
# def ger_to_eng (ger_text):
#     '''
#     function to translate German text
#     '''    
#     translator = Translator(service_urls=['translate.google.com'])    
#     try:
#         translation = translator.translate(ger_text, src='de', dest='en')
#         return translation.text        
#     except:
#         return np.nan

# df_feature['ger_to_eng'] = np.where(
#     df_feature.Description.isnull(),
#     df_feature.Attribute.str.replace('_', ' ').apply(ger_to_eng),
#     np.nan)
# df_feature['Desc'] = df_feature.Description.fillna('') + df_feature.ger_to_eng.fillna('')

# # # sort by Attribute and Information level
# # df_feature.sort_values(by = ['Attribute', 'Information level'], inplace= True)

# # df_feature = pd.read_excel('df_feature.xlsx', index_col = [0])
# # df_feature.head(10)

In [ ]:
# attr_excl = attr[attr.Attribute.isin(attr_Attr - info_Attr)][['Attribute', 'Description']].copy()
# df_feature.Description = df_feature.Description.mask(
#     df_feature.Attribute == attr_excl.Attribute,
#     attr_excl.Description
#     )
# print ('Attributes missing Description:', df_feature[df_feature.Description.isna()].shape[0])
# print (df_feature.shape)
# df_feature.head()

# ValueError: Can only compare identically-labeled Series objects

In [ ]:
# feature_desc.set_index('Attribute', inplace = True)

# attr_Attr = set(attr.Attribute.dropna().unique())
# info_Attr = set(info.Attribute.dropna().unique())
# attr_excl = attr[
#     attr.Attribute.isin(attr_Attr - info_Attr)][['Attribute', 'Description']].copy()
# attr_excl.set_index('Attribute', inplace = True)
# feature_desc.update(attr_excl)

# feature_desc.reset_index(inplace = True)

In [ ]:
# '''
# alignment of features between data files: 
# df customers has 3 more exclusive columns
# '''

# azdias_Attr = set(azdias.columns)
# customers_Attr = set(customers.columns)

# print(azdias_Attr - customers_Attr)
# print(customers_Attr - azdias_Attr)

In [ ]:
# '''
# alignment of features between information files
# '''
# info_Attr = set(info.Attribute.dropna().unique())
# attr_Attr = set(attr.Attribute.dropna().unique())

# # info_excl = info_Attr - attr_Attr
# # attr_excl = attr_Attr - info_Attr

# print (len(info_Attr - attr_Attr), 'Attribute value(s) exclusively in info:',
#        '\n', info_Attr - attr_Attr)
# print (len(attr_Attr - info_Attr), 'Attribute value(s) exclusively in attr:',
#        '\n', attr_Attr - info_Attr)
# '''
# alignment of features between customers and information files
# '''
# print ('Attribute between customers and info')
# print (len(customers_Attr - info_Attr), 'feature(s) exclusively in customers:',
#        '\n', customers_Attr - info_Attr)
# print (len(info_Attr - customers_Attr), 'Attribute value(s) exclusively in info:',
#        '\n', info_Attr - customers_Attr)
# print ('In', len(info_Attr), 'features of info,', 
#        len(info_Attr) - len(info_Attr - customers_Attr), 'features are in Attribute of customers', '\n')

# print ('Attribute between customers and attr')
# print (len(customers_Attr - attr_Attr), 'feature(s) exclusively in customers:',
#        '\n', customers_Attr - attr_Attr)
# print (len(attr_Attr - customers_Attr), 'Attribute value(s) exclusively in attr:',
#        '\n', attr_Attr - customers_Attr)
# print ('In', len(attr_Attr), 'features of attr,',
#        len(attr_Attr) - len(attr_Attr - customers_Attr), 'features are in Attribute of customers')

In [ ]:
# list(feature_dict.keys())[0]
# feature_dict.values()

In [ ]:
# values = np.array([1, 2, 3, 4])

# subtractions = np.subtract.outer(values, values)[np.triu_indices(len(values), k=1)]

# for result in subtractions:
#     print(result)

In [ ]:
# for i, (k, v) in enumerate(feature_dict.items()):
#     for j in range(i + 1, 4):
#             result = values[i] - values[j]
#             print(f"{values[i]} - {values[j]} = {result}")
#     print (i, k, v)
    
# for i, (k, v) in enumerate(zip(list(feature_dict.keys()), list(feature_dict.values()))):
#     print (i, (k, v))

In [ ]:
# '''
# customers에는 없고 attr에만 있는 42개 Attribute는 Desc가 없으으로
# (1.5 alignment) desc가 null이 아닌 행만 keep
# '''

# print ('customers에는 없고 attr에만 있는 42개 Attribute 수:', 
#        attr_num[attr_num.Desc.isna() == True].Attribute.nunique(),
#        '\n')

# attr_num = attr_num[attr_num.Desc.isna() == False]
# print (attr_num.info())

In [ ]:
# '''
# str data of column Value
# '''
# # attr_num with only numeric values in Value
# attr_str = attr[attr['Value_dtype'] == str].copy()
# print (attr_str.shape) 

# # add Desc and Information level
# attr_str = vlookup(attr_str, feature_desc, 'Attribute', ['Desc', 'Additional notes'])
# print (attr_str.info())
# attr_str.head()

In [ ]:
# '''
# 3개 null attribute는 정수와 문자를 모두 값을로 갖는 것들로 42개는 유효하고
# 이 42개는 다음 section에서 볼 예정이므로 (1.5 alignment) desc가 null이 아닌 행만 keep
# '''

# # attr_str[attr_str.Desc.isna() == True] # int와 str을 모두 갖는 셀. 따라서 42는 맞음.... 이 별로 중요하지도 않은 것을 남겨야 하나...

# attr_str = attr_str[attr_str.Desc.isna() == False]
# print (attr_str.info())

In [ ]:
# # attr_str_to_check = pv_attr_str[pv_attr_str.Meaning.str.contains('numeric value')].Attribute
# attr_str_to_check = pv_attr_str[
#     pv_attr_str.index.get_level_values(2).str.contains('numeric value')].index.get_level_values(0)
# # 먼저 추후 체크할 것들을 뽑아 놓고
# attr_str_to_check

In [ ]:
# pv_attr_str = pd.DataFrame(pv_attr_str[
#     ~(pv_attr_str.index.get_level_values(0).isin(attr_str_to_check))
#     &~(pv_attr_str.index.get_level_values(2) == 'unknown')
#     ].to_records())

# pv_attr_str = pd.pivot_table(
#     pv_attr_str,
#     index = ['Attribute', 'Desc'],
#     values = 'Value',
#     aggfunc = lambda x: list(x)
#     )

# view_all(pv_attr_str)

In [ ]:
# print(not_in_attr_str.values.T.shape)
# not_in_attr_str.values.T.tolist()

In [ ]:
# for i in concat_cont_ft[1:]:

#     min_val = cc_num[i].min()
#     max_val = cc_num[i].max()
#     bin_interval = 1
#     bin_edges = np.arange(min_val, max_val + bin_interval, bin_interval)

#     desc_val = concat_num[concat_num['Attribute'] == i]['Desc'].values[0]
#     count_val = int(concat_num[concat_num['Attribute'] == i].fillna(0)['count'].values[0])

#     ax = cc_num[i].plot(
#         kind = 'hist',
#         figsize=(10, 1.5),
#         color='gray',
#         bins = bin_edges,
#         align = 'mid',
#         title = ('histogram - ' + desc_val + ' ' + i)
#         );
#     ax.set_xlabel('Values: Min: ' + str(int(min_val)) + ', Max: ' + str(int(max_val)));
#     plt.show()
    
#     ax = cc_num[i].plot(
#         kind = 'hist',
#         figsize=(10, 1.5),
#         color='gray',
#         bins = np.arange(-0.5, 11.5, 1),
#         align = 'mid',
#         title = ('histogram - ' + desc_val + ' - Value 0 to 10')
#         );
#     ax.set_xlabel('Values');
#     plt.show()
    
#     # Define the outlier thresholds by applying multiplier 5.0
#     q1 = concat_num[concat_num['Attribute'] == i]['25%'].values[0]
#     q3 = concat_num[concat_num['Attribute'] == i]['75%'].values[0]
#     iqr = q3 - q1
#     lower_threshold = q1 - 5.0 * iqr
#     upper_threshold = q3 + 5.0 * iqr

#     # Identify outliers
#     col_val = cc_num[i].values
#     outliers = sorted(set([i for i in col_val if i < lower_threshold or i > upper_threshold]), reverse = True)
#     for j in outliers:
#         print (int(j), '{:.1%}'.format(((cc_num[i] == j).sum())/count_val*100), end = ' ')
#     print ('\n', '==========' * 10)

In [ ]:
# for i in concat_cont_ft[1:]:

#     min_val = cc_num[i].min()
#     max_val = cc_num[i].max()
#     # bin_interval = 1
#     bin_edges = np.arange(min_val, max_val + 10, 10)

#     desc_val = concat_num[concat_num['Attribute'] == i]['Desc'].values[0]
#     count_val = int(concat_num[concat_num['Attribute'] == i].fillna(0)['count'].values[0])

#     ax = cc_num[i].plot(
#         kind = 'hist',
#         figsize=(10, 1.5),
#         color='gray',
#         bins = bin_edges,
#         align = 'mid',
#         title = ('histogram - ' + desc_val + ' ' + i)
#         );
#     ax.set_xlabel('Values: Min: ' + str(int(min_val)) + ', Max: ' + str(int(max_val)));
#     plt.show()
    
#     ax = cc_num[i].plot(
#         kind = 'hist',
#         figsize=(10, 1.5),
#         color='gray',
#         bins = np.arange(-0.5, 11.5, 1),
#         align = 'mid',
#         title = ('histogram - ' + desc_val + ' - Value 0 to 10')
#         );
#     ax.set_xlabel('Values');
#     plt.show()
    
#     # Define the outlier thresholds by applying multiplier 1.5
#     q1 = concat_num[concat_num['Attribute'] == i]['25%'].values[0]
#     q3 = concat_num[concat_num['Attribute'] == i]['75%'].values[0]
#     iqr = q3 - q1
#     lower_threshold = q1 - 1.5 * iqr
#     upper_threshold = q3 + 1.5 * iqr

#     # Identify outliers
#     col_val = cc_num[i].values
#     outliers = sorted(
#         set([i for i in col_val if i < lower_threshold or i > upper_threshold]),
#         reverse = True)
#     # for j in outliers:
#     #     print (int(j), '{:.1%}'.format(((cc_num[i] == j).sum())/count_val*100), end = ' ')
        
#     outlier_list = [str(int(j)) + ': ' + '{:.1%}'.format((cc_num[i] == j).sum() / count_val)
#                     for j in outliers]
    
#     print('Outliers (Value: %)')
#     for j in range(0, len(outlier_list), 10):
#         print (', '.join(outlier_list[j: j+10]))
#     print ('\n')

**[function]** score_meaning_val

In [ ]:
# def score_meaning_val(data, pv_idx = ['Attribute', 'Description', 'Desc', 'Additional notes']):
#     '''
#     function to check unique values of Score and Meaning by Attribute
#     data : dataframe to examine
#     pv_idx: list of pivot_table index
#     '''
#     data = vlookup(data, feature_desc, 'Attribute', ['Desc', 'Additional notes'], nan_val = 'no_info')
#     pv = pd.pivot_table(
#         data,
#         index = pv_idx,
#         values = ['Meaning', 'Score'],
#         aggfunc = lambda x: list(x))
    
#     return pv

In [ ]:
# def verify_null(data, null_list, pv_idx = ['Attribute', 'Description', 'Desc', 'Additional notes']):
#     '''
#     function to display the summary of Score and Meaning values,
#     when Meaning values are in the list containing possibly null values.   
    
#     data: dataframe to examine
#     null_list: list of possibly null values
#     pv_idx: pivot_table index
#     '''
#     null_check_Attribute = data[data['Meaning'].isin(null_list)]['Attribute'].to_list()
#     null_check = data[data['Attribute'].isin(null_check_Attribute)]
    
#     null_check = vlookup(null_check, feature_desc, 'Attribute', ['Desc', 'Additional notes'], fill_na = 'no_info')
#     pv = pd.pivot_table(
#         null_check,
#         index = pv_idx,
#         values = ['Score', 'Meaning'],
#         aggfunc = lambda x: list(x))
    
#     return pv

In [ ]:
# # For values of Attribute without Description, add 12 Description values from attr
# attr_to_add = attr[['Attribute', 'Description']].copy()
# attr_to_add.dropna(inplace = True)
# attr_to_add = attr_to_add.rename(columns = {'Description': 'Description_to_add'})

# feature_desc = vlookup(feature_desc, attr_to_add, 'Attribute')
# feature_desc.Description = np.where(
#     ((feature_desc.Description.isnull() == True) & (feature_desc.Description_to_add.isnull() == False)),
#     feature_desc.Description_to_add,
#     feature_desc.Description)
# feature_desc = feature_desc.drop('Description_to_add', axis=1)

# # For values of Attribute without Description, make colum of translation (ger_to_eng)
# def ger_to_eng (ger_text):
#     '''
#     function to translate German text
#     '''    
#     translator = Translator(service_urls=['translate.google.com'])    
#     try:
#         translation = translator.translate(ger_text, src='de', dest='en')
#         return translation.text        
#     except:
#         return np.nan

# feature_desc['ger_to_eng'] = np.where(
#     feature_desc.Description.isnull(),
#     feature_desc.Attribute.str.replace('_', ' ').apply(ger_to_eng),
#     np.nan)
# feature_desc['Desc'] = feature_desc.Description.fillna('') + feature_desc.ger_to_eng.fillna('')

# feature_desc.info()

In [ ]:
# # pv_min_max 2.3.1 변경 for merge
# min_max_copy = pd.DataFrame(pv_min_max.to_records())
# min_max_copy.columns = list(
#     min_max_copy.columns[:2]) + list(eval(i)[0] for i in min_max_copy.columns[2:])
# min_max_copy

### eod